// ul {
//   list-style-type: none;
// }

.treeView {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  transition: all .3s ease;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

// .portfolioFolder::before {
//   // content: "\2795"; // Heavy plus sign code
//   size: 2rem;
//   color: black;
//   display: inline-block;
// }

.treeView:hover {
  background: #FFAE42;
  cursor: pointer;
}

// .portfolioFolder {
//   cursor: pointer;
//   user-select: none;
// }



// .portfolioNestedView {
//   cursor: pointer;
// }

// .active {
//   display: block;
// }

// .portfolioFolderMinus::before {
//   content: "\2796"; // Heavy Minus sign code
//   color: black;
//   display: inline-block;
//   margin-right: 0.6rem;
//   cursor: pointer;
// }