ul {
  list-style-type: none;
}

.treeView::before {
  content: "\2795"; // Heavy plus sign code
  size: 2rem;
  display: inline-block;
  margin-right: 0.6rem;
}

.treeView {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  transition: all .3s ease;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.treeView:hover {
  background: #FFAE42;
  cursor: pointer;
}

.treeViewExpanded::before {
  content: "\2796"; // Heavy Minus sign code
  size: 2rem;
  display: inline-block;
  margin-right: 0.6rem;
}
