ul {
  list-style-type: none;  // it removes the default point (circle) from the begining of the line
  padding-inline-start: 1.2rem; // keeps the children TreeViews closer to the parent
}

li {
  font-family: 'Times New Roman'; // we should set the font type globally in the future
  display: table; // to have width that equals to the text length (so it is not spreading too wide)
}

.treeViewRowBase {
  display: inline-flex;
  align-items: center; // to center the text vertially inside the box
  padding: 0 0.5rem 0 0.5rem; // Top / Right / Bottom / Left
  border-radius: 0.5rem;
  cursor: pointer;
}

.treeViewRowFolder {
  font-weight: bold;
}

.treeViewRowSelected {
  background: #90EE90;
}

.icon {
  font-size: 1.6rem; // the Plus/Minus icons are too small by default
}
