:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.4rem;
    color: rgb(32, 34, 148);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
  }
.dashboardTopCont {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
// .dashboardTopCont .leftDiv {
//   // float:none;
// }

.dashboardTopCont table{
  border-collapse: collapse;
}
.dashboardTopCont table td, th{
  padding: 0rem;
  border-style: ridge;
  border-width: 0.2rem;
  border-color: #4e95f4 ;
  width: 7rem;
  text-align: center;
}

.dashboardTopCont .tableHeader {
  background: #95bbf3;
}
.dashboardTopCont .rightDiv {
  // float:none;
  text-align: center;
  width: 11%;
}
.selectedNavMktHlthCl {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  color: #9900ff;
}
.selectedNavMktHlthCl:hover {
  color: #f39c12;
}
.navSelectionPopupMktHlthCl {
  visibility: hidden;
  width: 160px;
  background-color: rgba(85, 85, 85, 0.50);
  // color: #fff;
  color: #d9adf6;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}
.selectedNavMktHlthCl .navSelectionPopupMktHlthCl::after { // Popup arrow
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(85, 85, 85, 0.50) transparent transparent transparent;
}
.selectedNavMktHlthCl .show {  // Toggle this class - hide and show the popup. Note, this is not the popup. Strange, but works.
  visibility: visible;
  -webkit-animation: fadeInMktHlth 1s;
  animation: fadeInMktHlth 1s;
}
@keyframes fadeInMktHlth { // Add animation (fade in the popup)
  from {opacity: 0;}
  to {opacity:1 ;}
}
@-webkit-keyframes fadeInMktHlth {
  from {opacity: 0;} 
  to {opacity: 1;}
}


.dashboardTopCont .realtimeRow{
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #c5d8f3;
}
.dashboardTopCont .pastPerfRow{
  font-size: 1.4rem;
  background-color: #f0f2f7;
}

.dashboardTopCont .pastPerfRow .lookbAndMarketIndSel { // to override ".dashboardTopCont table td"'s width:7rem, we have to be that specific
  width: 39.5rem;
}

.tooltipCell {
  position: relative;
  cursor: help;
  // display: inline-block;
  // border-bottom: 1px dotted black;
}

.positivePerf {
  color: green;
}

.negativePerf {
  color: red;
}

.tooltipCell .tooltipText {
  padding:0.3rem;
  font-size: 1.4rem;
  font-weight: normal;
  display: none;
  background:rgb(210, 252, 176);
  border: 0.1rem solid rgb(19, 7, 177);
  color: rgb(6, 8, 153);
  text-align: left;
  border-radius: 1rem;
  position: absolute;
  z-index: 100;
  white-space: pre;
  opacity: 0.87;
}

.tooltipCell .tooltipText .bold{
  font-weight: bold;
}

.tooltipCell .tooltipText .smallTT{
  font-size: 1rem;
}

.tooltipCell:hover .tooltipText {
  display: inline-block;
}

.lookbackError {
  background-color: salmon;
}

.lookbackError .tooltipText {
  background-color: salmon;
}

.lookbDateWrapperCl {
  position: relative;
  display: inline-block;  // this converts <div> to <span> style, so <div>s go next to each other
  overflow: hidden;
  background: #a5cde4;
  border-radius: .5rem;
  margin-left: 0.25rem;
}

// 2020-11: "It is impossible to change the format of the input type=“date”. " See https://stackoverflow.com/questions/7372038/is-there-any-way-to-change-input-type-date-format
// All those suggestions are awkward. And we don't want to introduce any other 3rd party library for the date-picker, like Jquery (50+125K with jQueryUi) or MomentumJs.
// At the moment, user (only Balazs with Hungarian local) should change Date format in Windows: Setting/Change data formats/"Short Date". After changing that, user has to restart Chrome.
// In the future, "maybe" this HTML date-picker element can style its format. Until that, it is OK for our main users.
.lookbDateCl {
  border: 0 !important;
  // border-radius: .5rem;
  background: #a5cde4;
  color: blue;
  height: 1.5rem;
  font-size: 1.07rem;  // make a bit smaller
  width: 10.6rem;  // 2021-05-19: 10.6 rem was needed to not cut off date "2021-05-18"
  vertical-align: top;
  margin-top: 0.25rem;
}

/* Custom Select */
.lookbSelectCl {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;

  flex: 1;
  padding: 0rem 1.5rem 0rem 0.5rem;
  background: #a5cde4;
  cursor: pointer;
  color: blue;
  font-weight: bold;
}
#perfIndicator.lookbSelectCl {
  width: 11.0rem;
}


.lookbSelectWrapperCl {
  position: relative;  // this is a must for "::after" to work.  https://stackoverflow.com/questions/3532649/problem-with-select-and-after-with-css-in-webkit
  display: inline-block;  // https://stackoverflow.com/questions/5803023/how-to-place-two-divs-next-to-each-other
  margin-top: 0.25rem;
  // width: 20em;
  // height: 3em;
  // line-height: 3;
  background: #a5cde4;
  overflow: hidden;
  border-radius: .5rem;
  margin-left: 0.25rem;
}

/* Arrow */
.lookbSelectWrapperCl::after {
  content: '\25BC';
  color: blue;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0rem 0rem;
  background: #a5cde4;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.lookbSelectWrapperCl:hover::after {
  color: #f39c12;
}

