BrAcc:
<span >
    <select class="selectedNavBraccCl" [(ngModel)] = "navSelectionSelected" (change)="onNavSelectedChange($event)">
        <option *ngFor="let item of navSelection" [value]="item">{{item}}</option>
    </select>
</span>
MarketBar
<span>
    <span *ngFor="let item of uiMktBar.poss"> 
        <a href="https://uk.tradingview.com/chart/?symbol={{item.symbol}}" target="_blank">{{item.symbol}}</a>: 
        <span [ngClass]="{
            'mktBarPositivePerf' : item.pctChg > 0,
            'mktbarNegativePerf' : item.pctChg < 0
         }">{{item.pctChg | percent:'1.2'}},
        </span>
    </span>
    <span>{{uiMktBar.lstValLastRefreshTimeStr}}</span>
</span>
<hr>
<div>
    <span>
    <div class="AccSumm">
        <div class="plSum">Account Summary</div>
        <div>
            <span class="plSum tooltipGeneral">NAV :
                <span id="liqVal">{{uiSnapTable.netLiquidation | currency:'USD':'symbol':'1.0'}}</span>
                <div class="tooltipSnap">
                    <div class="snapshot">
                        Total NetLiquidation<br>(with cash) 
                    </div>
                </div>
            </span>
            <span class="notImpInfo"> ({{uiSnapTable.navLastUpdateTimeAgoStr}})</span>
        </div>
        <div class="plSum tooltipGeneral">P&L Today
            <span class="notImpInfo"> (PriorNAV)</span> : 
            <span [ngClass]="{
                'mktBarPositivePerf' : uiSnapTable.plTodPrNav > 0,
                'mktbarNegativePerf' : uiSnapTable.plTodPrNav < 0
                }"> {{uiSnapTable.plTodPrNav | currency:'USD':'symbol':'1.0'}}
            </span>
            <span class="notImpInfo" [ngClass]="{
                'mktBarPositivePerf' : uiSnapTable.pctChgTodPrNav > 0,
                'mktbarNegativePerf' : uiSnapTable.pctChgTodPrNav < 0
                }"> ({{uiSnapTable.pctChgTodPrNav | percent:'1.2'}})
            </span>
            <div class="tooltipSnap">
                <div class="snapshot">
                    Profit is calculated from<br> current  and previous day NAV 
                </div>
            </div> 
        </div>
        <span class="tooltipGeneral plSum">P&L Today
            <span class="notImpInfo">(Positions)</span> : 
            <span [ngClass]="{
                'mktBarPositivePerf' : uiSnapTable.sumPlTodVal > 0,
                'mktbarNegativePerf' : uiSnapTable.sumPlTodVal < 0
                }">{{uiSnapTable.sumPlTodVal | currency:'USD':'symbol':'1.0' }}
            </span>
            <span class="notImpInfo" [ngClass]="{
                'mktBarPositivePerf' : uiSnapTable.sumPlTodPct > 0,
                'mktbarNegativePerf' : uiSnapTable.sumPlTodPct < 0
                }">({{uiSnapTable.sumPlTodPct | percent:'1.2'}})
            </span> 
            <div class="tooltipSnap">
                <div class="snapshot">
                    Profit is calculated as <br>a sum of the table cells 
                </div>
            </div>
        </span>
        <span class="tooltipGeneral plSum">
            <div class="tooltipSnap">
                <div class="snapshot">
                    Force reload snapshot table<br> (Realtime: NAV, #Pos, EstPrice)
                </div>
            </div>
            <span class="refresh"><img class="refresh" src='../assets/images/refresh64.webp' (click)="onSnapshotRefreshClicked($event)"></span>
        </span>
        <span class="notImpInfo">{{uiSnapTable.snapLastUpateTimeLoc | date:'H:mm'}} ({{uiSnapTable.snapLastUpdateTimeAgoStr}})</span>
        <div>
            <span class="tab">
                <button [ngStyle]="{'background-color':tabPageVisibleIdx == 1 ? 'aqua':''}"(click)="onTabHeaderClicked($event,1)"> MoreDetails </button>
                <button [ngStyle]="{'background-color':tabPageVisibleIdx == 2 ? 'aqua':''}"(click)="onTabHeaderClicked($event,2)"> HistoricalChart </button>
            </span>
        </div>
    </div>
    <div class="ChartSumm">
            <div [hidden]="tabPageVisibleIdx!= 1" id="tab1">
                <div class="moreDetailsPartitions">
                    <div>PriorNAV: <span class="moreDetailsSum">{{uiSnapTable.priorCloseNetLiquidation | number}}</span></div>
                    <div>IB Total Cash: <span class="moreDetailsSum">{{uiSnapTable.totalCashValue | number}}</span></div>
                    <div>IB Initial MarginReq: <span class="moreDetailsSum">{{uiSnapTable.initialMarginReq | number}}</span></div>
                    <div>IB Maintenance MarginReq: <span class="moreDetailsSum">{{uiSnapTable.maintMarginReq | number}}</span></div>
                    <div>IB Gross Position Value: <span class="moreDetailsSum">{{uiSnapTable.grossPositionValue | number}}</span></div>
                </div>
                <div class="moreDetailsPartitions">
                    <div>Number Of Visible Positions: <span class="moreDetailsSum">{{uiSnapTable.numOfVisiblePoss}}</span></div>
                    <div>Number Of All Positions: <span class="moreDetailsSum">{{uiSnapTable.numOfAllPoss}}</span></div>
                    <div>Long Stock MktValue: 
                        <span class="tooltipGeneral moreDetailsSum">{{uiSnapTable.longStockValue | number}}*
                            <div class="tooltipSnap">
                                <div class="snapshot">
                                    !! Long VXX is here, although it is market bearish.<br>
                                     'Short VXX', 'short SH' are market bullish, but not here.
                                </div>
                            </div>
                        </span>
                        </div>
                    <div>Short Stock MktValue: <span class="moreDetailsSum">{{uiSnapTable.shortStockValue | number}}</span></div>
                    <div>Call Option Delta Adjusted DelivValue: <span class="moreDetailsSum"></span></div>
                    <div>Put Option Delta Adjusted DelivValue: <span class="moreDetailsSum"></span></div>
                </div>
                <div class="moreDetailsPartitions" id="borderRemove">
                    <div class="tooltipGeneral">Max Risked estimate:
                        <span class="moreDetailsSum"
                        [ngClass]="{'green' : uiSnapTable.totalMaxRiskedLeverage < 1.3,
                                    'orange': uiSnapTable.totalMaxRiskedLeverage >= 1.3 || uiSnapTable.totalMaxRiskedLeverage <= 1.5,
                                    'red' : uiSnapTable.totalMaxRiskedLeverage > 1.5}"> 
                            (Leverage - {{uiSnapTable.totalMaxRiskedLeverage | number :'1.2-2'}})*
                         </span>
                        <div class="tooltipSnap">
                            <div class="snapshot">
                                LongStk + ShortStk (incorrect! Infinite) <br>
                                + LongOptMktValue + ShortOptMktValue (incorrect! Infinite) <br>
                                Leverage greater than 1.5 -> red <br>
                                Leverage between 1.3 - 1.5 -> orange <br>
                                Leverage less than 1.3 -> green
                            </div>
                        </div>
                    </div>
                    <div class="tooltipGeneral">Delta Adjusted Bullish/<br>Bearish Market Orientation:
                        <div class="tooltipSnap">
                            <div class="snapshot">
                                LongStock - ShortStock + dAdj.CallOption <br>
                                 - dAdj.PutOption
                            </div>
                        </div>
                    </div>
                    <div class="tooltipGeneral">Beta Delta Adjusted Bullish/<br>Bearish Market Orientation :
                        <div class="tooltipSnap">
                            <div class="snapshot">
                                approx. mkt exposure sum
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div [hidden]="tabPageVisibleIdx == 1" id="tab2">
                <div >
                   <span>
                    <div class="chrtTimeFrameSelection">
                        <input id="histPeriod" type="text" list="selectedPeriod" [(ngModel)] = "histPeriodSelectionSelected" (change)="onLookbackSelectChange($event)" >
                        <datalist id="selectedPeriod">
                            <option *ngFor="let item of histPeriodSelection" [value]="item">{{item}}</option>YTD
                        </datalist>
                        <div>StartDate: <input class = "histPeriodDateCl" type="date" id="StartDate" name="startDate" min="01-01-1975" [(ngModel)]="histPeriodStartETstr" (change)="onHistPeriodChangeClicked($event)"></div>
                        <div>EndDate: <input class = "histPeriodDateCl" type="date" id="EndDate" name="EndDate" min="01-01-1975" max="01-01-2040" [(ngModel)]="histPeriodEndETstr" (change)="onHistPeriodChangeClicked($event)"></div>
                        <div>BenchMark:
                            <input id="sqTicker" type="text" list="selectedSqTicker" [(ngModel)] = "bnchmkTickerSelectionSelected" (change)="onHistPeriodChangeClicked($event)" >
                                <datalist id="selectedSqTicker">
                                    <option *ngFor="let item of bnchmkTickerSelection" [value]="item">{{item}}</option>
                                </datalist>
                        </div>
                        <div>MaxDD<span class="notImpInfo">(NAV/BnchMrk):</span>
                            <span class="histBchMrkDetails" *ngFor="let item of uiHistData; last as isLast">
                              {{item.periodMaxDD | percent:'1.2'}}
                              <ng-container *ngIf="!isLast">/</ng-container>
                            </span>
                        </div>
                        <div>Return<span class="notImpInfo">(NAV/BnchMrk):</span>
                            <span class="histBchMrkDetails" *ngFor="let item of uiHistData; last as isLast">
                              {{item.periodReturn | percent:'1.2'}}
                              <ng-container *ngIf="!isLast">/</ng-container>
                            </span>
                        </div>
                    </div>
                   </span>
                </div>
                <div id="navChrt"></div>
            </div>
    </div>
</span>
</div>
<span>
    <input type="checkbox" [checked]="isFilteringBasedonMktVal" (click)="onSnapTableSmallMktValClicked($event)">HideSmallMktVal
    <input type="checkbox" [checked]="isFilteringBasedonPlDaily" (click)="onSnapTableSmallPlDailyClicked($event)">HideSmallPLt
    <input type="checkbox" [checked]="isFilteringBasedonOptions" (click)="onSnapTableOptionsClicked($event)">HideOptions
</span>
<hr>
<div class="brAccSnapTbl">
<table class = "selectedBrcAccSnapShotTbl">
    <thead class = "selectedBrcAccSnapShotTbl">
        <tr class="tableHeader">
        <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='symbol'}" (click)="onSortingClicked('symbol', $event)">Symbol</th>
        <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='symbolEx'}" (click)="onSortingClicked('symbolEx', $event)">SymbolEx</th>
        <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='pos'}" (click)="onSortingClicked('pos', $event)">Pos</th>
        <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='avgCost'}" (click)="onSortingClicked('avgCost', $event)">Cost</th>
        <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='priorClose'}" (click)="onSortingClicked('priorClose', $event)">Prior<br>Close</th>
        <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='estPrice'}" (click)="onSortingClicked('estPrice', $event)">Est<br>Price</th>
        <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='pctChgTod'}" (click)="onSortingClicked('pctChgTod', $event)">Chg%<br>Today</th>
        <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='plTod'}" (click)="onSortingClicked('plTod', $event)">P&L<br>Today</th>
        <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='pl'}"(click)="onSortingClicked('pl', $event)">P&L</th>
        <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='mktVal'}"(click)="onSortingClicked('mktVal', $event)">MktVal</th>
        <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='estUndPrice'}"(click)="onSortingClicked('estUndPrice', $event)">Est<br>UndPr</th>
        <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='delivValue'}"(click)="onSortingClicked('delivValue', $event)">Deliv<br>Value</th>
        <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='ibCompDelta'}"(click)="onSortingClicked('ibCompDelta', $event)">IbComp<br>Delta</th>
        <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='dltAdjDelivVal'}"(click)="onSortingClicked('dltAdjDelivVal', $event)">DltAdj<br>DelivVal</th>
        <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='gBeta'}"(click)="onSortingClicked('gBeta', $event)">gBeta</th>
        <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='betaDltAdj'}"(click)="onSortingClicked('betaDltAdj', $event)">BetaDltAdj<br>MktOriVal</th>
        <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='accIdStr'}"(click)="onSortingClicked('accIdStr', $event)">Acc</th>
        </tr>
    </thead>
    <tbody class = "selectedBrcAccSnapShotTbl">
    <tr *ngFor="let item of uiSnapTable.poss">
        <td class="tooltipStck" (mouseenter)="onStockChrtTicker(item.symbol)" (mouseover)="onMouseover(true, $event)" (mouseleave)="onMouseover(false, $event)">
            <a href="https://uk.tradingview.com/chart/?symbol={{item.symbol}}" target="_blank">
                {{item.symbol}}
            </a>
        </td>
        <td>{{item.symbolEx}}</td>
        <td>{{item.pos | number}}</td>
        <td>{{item.avgCost | number:'1.2-2'}}</td>
        <td>{{item.priorClose | number:'1.2-2'}}</td>
        <td>{{item.estPrice | number:'1.2-2'}}</td>
        <td [ngClass]="{
            'mktBarPositivePerf' : item.pctChgTod > 0,
            'mktbarNegativePerf' : item.pctChgTod < 0
         }">{{item.pctChgTod | percent:'1.2'}}</td>
        <td >{{item.plTod | number}}</td>
        <td>{{item.pl | number}}</td>
        <td>{{item.mktVal | number}}</td>
        <td>{{item.estUndPrice | number}}</td>
        <td>{{item.delivValue | number}}</td>
        <td>{{item.ibCompDelta | number}}</td>
        <td>{{item.dltAdjDelivVal | number}}</td>
        <td>{{item.gBeta | number:'1.1-2'}}</td>
        <td>{{item.betaDltAdj | number}}</td>
        <td>{{item.accIdStr}}</td>
    </tr>
    </tbody>
</table>
</div>
<hr>
<div id="stckTooltip" *ngIf="isShowStockTooltip">
    <div class="tooltipSnap" *ngFor="let item of uiSnapTable.poss">
        <span  *ngIf="item.symbol === stockTooltipSymbol">Name:
            {{item.name}} <br>
            <a href="https://uk.tradingview.com/chart/?symbol={{item.symbol}}" target="_blank">
                <svg width="28" height="22" viewBox="0 0 28 22" xmlns="http://www.w3.org/2000/svg" >
                    <path d="M 12 20 H 7 V 11 H 0 V 4 h 12 v 16 z 
                            M 24 20 h-8 l 7.5-18 h 8 L 22 20 z" fill="currentColor">
                    </path>
                    <circle cx="16.5" cy="7" r="4" fill="currentColor"/>
                </svg>
            </a>, 
            <a href="https://finance.yahoo.com/quote/{{item.symbol}}" target="_blank"><img alt='YF' src='../assets/images/YF.webp' width='20' height='20'></a>,
            <a href="https://www.zacks.com/stock/quote/{{item.symbol}}" target="_blank"><img alt='Zacks' src='../assets/images/Zacks.webp' width='20' height='20'></a>,
            <a href="https://www.earningswhispers.com/tradeview/{{item.symbol}}" target="_blank"><img alt='earningswhispers-BeforeEarnings' src='../assets/images/EW-BE.webp' width='20' height='20'></a>,
            <a href="https://www.earningswhispers.com/epsdetails/{{item.symbol}}" target="_blank"><img alt='earningswhispers-AfterEarnings' src='../assets/images/EW-AE.webp' width='20' height='20'></a>,
            <a href="https://www.tipranks.com/stocks/{{item.symbol}}/forecast" target="_blank"><img alt='TipRanks' src='../assets/images/TR.webp' width='20' height='20'></a>,
            <a href="https://stockcharts.com/h-sc/ui?s={{item.symbol}}" target="_blank"><img alt='stocksCharts' src='../assets/images/SC.webp' width='20' height='20'></a> <br>
            <span id="stockChrt"></span>
        </span>
    </div>
</div>
<!-- Addded class "selectedTempDebug" to limit the text output in the UI-->
<div id="warning">{{uiSnapTable.clientMsg}}</div>
<div class="selectedTempDebug">
<br><br>Temporary Debug Info:<br>
<div class="tooltipTempDebug">HandshakeMsgStr:
    <div class="tooltipSnap">
        <div class="snapshot">
            {{handshakeStrFormatted}}
        </div>
    </div>
</div>
<div class="tooltipTempDebug">MarketBarLastClosesStr:
    <div class="tooltipSnap">
        <div class="snapshot">
            {{mktBrLstClsStrFormatted}}
        </div>
    </div>
</div>
<div class="tooltipTempDebug">HistStr:
    <div class="tooltipSnap">
        <div class="snapshot">
            {{navHistStrFormatted}}
        </div>
    </div>
</div>
<div class="tooltipTempDebug">BrAccountSnapshot:
    <div class="tooltipSnap">
        <div class="snapshot">
            {{brAccountSnapshotStrFormatted}}
        </div>
    </div>
</div>
<div class="tooltipTempDebug">StockHistData:
    <div class="tooltipSnap">
        <div class="snapshot">
            {{stockHistStrFormatted}}
        </div>
    </div>
</div>
</div>
<br><br><br>
<hr>
