:host {
  color: rgb(32, 34, 148);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

.selectedNavBraccCl {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  color: #9900ff;
}

.selectedNavBraccCl:hover {
  color: #f39c12;
}

.navSelectionPopupBraccCl {
  visibility: hidden;
  width: 160px;
  background-color: rgba(85, 85, 85, 0.50);
  color: #d9adf6;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.selectedNavBraccCl .navSelectionPopupBraccCl::after { // Popup arrow
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(85, 85, 85, 0.50) transparent transparent transparent;
}

.selectedNavBraccCl .show { // Toggle this class - hide and show the popup. Note, this is not the popup. Strange, but works.
  visibility: visible;
  -webkit-animation: fadeInBracc 1s;
  animation: fadeInBracc 1s;
}

@keyframes fadeInBracc { // Add animation (fade in the popup)
  from {opacity: 0;}
  to {opacity:1 ;}
}

@-webkit-keyframes fadeInBracc {
  from {opacity: 0;} 
  to {opacity: 1;}
}

.brAccSnapTbl table {
  border-collapse: collapse;
  color: #000000;
}

.mktBarPositivePerf {
  color: #228B22;
  font-weight: bold;
}

.mktbarNegativePerf {
  color: #FF0000;
  font-weight: bold;
}

.accSummaryImportantInfo {
  color: #B200FF;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

.AccSumm {
  float: left;
  width: 30%;
  padding: 0.1rem 0.05rem 0.1rem;
}

#liqVal {
  font-weight: bold;
  text-shadow: .2rem .2rem .5rem #FFA500;
}

.plSum {
  font-weight: bold;
  font-size: 1.8rem;
}

.notImpInfo {
  font-size: 1.1rem;
}

.timeInfoNav {
  font-size: 1.1rem;
  font-weight: normal;
}

.AccSumm .refresh {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

/* Change background color of buttons on hover */
.brAccViewerMoreDetailsAndHistChartButtons :hover {
  border: .1rem solid #228B22;
  backdrop-filter: blur(1rem);
  transform: skewX(-10deg);
  height: 2.1rem;
  width: 15%;
  border-radius: 0.75rem .5rem 0.75rem 0;
  position: relative;
  justify-content: center;
  transition: all .2s ease;
  font: 1rem;
  font-weight: 200;
  text-shadow: 0 0 1rem #fff;
  animation: breath2 2s .5s infinite alternate;
  cursor: pointer;
}

.brAccViewerMoreDetailsAndHistChartButtons {
  width: 30%;
  height: 2rem;
}

.moreDetailsPartitionsPrNav {
  float: left;
  width: 23.2%;
  padding: 0.004rem;
  min-height: 15rem;
  border-right: 0.005rem solid #0000ff;
  padding-left: 0.05rem;
}

.moreDetailsPartitions {
  float: left;
  width: 25.6%;
  padding: 0.004rem;
  min-height: 15rem;
  border-right: 0.005rem solid #0000ff;
  padding-left: 0.05rem;
}

.hrWithoutMargin {
  margin: 0rem;
}

// remove border of section 3
#borderRemove {
  border-right: none;
}

// tooltip maxRisked ngClass
.red {
  color: #FF0000;
  font-size: 1.7rem;
}

.orange {
  color: #FFA500;
}

.green {
  color: #228B22;
}

.ChartSumm {
  float: left;
  width: 70%;
  padding: 0.1rem 0.05rem 0.1rem;
}

.moreDetailsSum {
  font-weight: bold;
}

.chrtTimeFrameSelection {
  float: left;
  width: 25%;
}

.histBchMrkDetails {
  font-weight: bold;
  font-size: 1.4rem;
}

.histPeriodDateCl {
  border: 0 !important;
  border-radius: .5rem;
  background: #a5cde4;
  color: blue;
  height: 1.5rem;
  font-size: 1.17rem; // make a bit smaller
  width: 10.8rem; // 2021-05-19: 10.6 rem was needed to not cut off date "2021-05-18"
  vertical-align: top;
  margin-top: 0.25rem;
}

.selectedSqTicker {
  width: 10.8rem;
}

#filtering {
  position: relative;
  left: 28%; // To make it responsive, it is better to use relative units like percentage(%) instead of fixed position values (ex: left: 42rem)
}

// Table stylings
.brAccSnapTbl {
  overflow: auto;
  display: flex;
  align-items: stretch;
  white-space: nowrap; // nowrap auto adjust the text with multiple lined to a single line
}

.brAccSnapTbl table td, th {
  padding: 0rem;
  border-style: ridge;
  border-width: 0.2rem;
  border-color: #4e95f4;
  width: 10%;
  text-align: center;
}

thead {
  font-weight: bold;
  cursor: pointer;
  background-image: linear-gradient(90deg, #8dc7fa 3%, #9dcef8 7%, #d5f5f6 25%, #d5f5f6 55%, #ace16b 85%, #91d73a 90%);
  opacity: 0.8;
}

thead tr :hover {
  backdrop-filter: blur(1rem);
  transform: skewX(-10deg);
  animation: breath2 2s .5s infinite alternate;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: breath2;
}

.ActiveSortTableHeader {
  background-color: #FFAE42;
  font-size: 1.7rem;
}

tr:nth-child(even) {
  background-color: #9dcef8;
}

.selectedBrcAccSnapShotTbl {
  margin-left: auto;
  margin-right: auto;
}

/* Graph -  Style the lines by removing the fill and applying a stroke */
::ng-deep .line {
  fill: none;
  stroke: #0000ff;
  stroke-width: 1.5;
}

::ng-deep .line2 {
  fill: none;
  stroke: #964B00;
  stroke-width: 0.5;
}

#warning {
  color: red;
  white-space: pre-wrap;
}

// Tooltip posotioning for the stock postions 
.tooltipStck {
  position: relative;
  cursor: help;
  font-weight: bold;
}

// // Tooltip posotioning for the Tempdebug 
// .tooltipTempDebug {
//   position: relative;
//   cursor: help;
// }
// .tooltipTempDebug .tooltipText {
//   padding:0.3rem;
//   font-size: 0.8rem;
//   display: none;
//   background:rgb(210, 252, 176);
//   border: 0.1rem solid rgb(19, 7, 177);
//   color: rgb(6, 8, 153);
//   text-align: left;
//   border-radius: 1rem;
//   position: absolute;
//   z-index: 100;
//   white-space: pre;
//   opacity: 0.87;
// }

// .tooltipTempDebug:hover .tooltipText {
//   display: inline-block;
//   font-weight: bold;
//   top: -50%;
//   left: 10%;
// }

#stckTooltip {
  position: fixed;
  right: 10rem;
  background: rgb(210, 252, 176);
  border: 0.1rem solid rgb(19, 7, 177);
  color: rgb(6, 8, 153);
  border-radius: 1rem;
  cursor: pointer;
  width: 46rem;
  height: 25rem;
}

#stckTooltip:hover .tooltipText {
  display: inline-block;
  top: -5%;
  left: 150%;
  right: 10%;
  transform: translateX(-15%);
  margin-top: -1rem;
}

#stckTooltipName {
  font-weight: bold;
}

.highlightInputDropDown {
  padding: 0.5rem;
  font-size: 1.4rem;
  width: 15rem;
  border: 0.1rem solid black;
}

.selectionDropDown {
  position: relative;
  display: inline-block;
}

.listDropDown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 8rem;
  z-index: 1;
}

.listDropDown option {
  color: black;
  padding: 0.25rem 0.25rem;
  text-decoration: none;
  display: block;
}

.listDropDown option:hover {
  background-color: #ddd;
}

.selectionDropDown:hover .listDropDown {
  display: block;
}

.selectionDropDown:hover .highlightInputDropDown {
  background-color: rgba(255, 255, 128, .5);
}

.optionDropDown {
  border: 0.1rem solid lightblue;
  cursor: pointer;
}

.importantToHighlight {
  background: rgba(255, 255, 0);
  font-weight: bold;
  border-radius: 0.5rem;
  padding: 0 0 0 0.5rem;
}

.importantToHighlight .notImpInfo {
  font-size: 1.7rem;
}