.selectedNavBraccCl {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
    color: #9900ff;
  }
  .selectedNavBraccCl:hover {
    color: #f39c12;
  }
  .navSelectionPopupBraccCl {
    visibility: hidden;
    width: 160px;
    background-color: rgba(85, 85, 85, 0.50);
    // color: #fff;
    color: #d9adf6;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  .selectedNavBraccCl .navSelectionPopupBraccCl::after { // Popup arrow
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(85, 85, 85, 0.50) transparent transparent transparent;
  }
  .selectedNavBraccCl .show {  // Toggle this class - hide and show the popup. Note, this is not the popup. Strange, but works.
    visibility: visible;
    -webkit-animation: fadeInBracc 1s;
    animation: fadeInBracc 1s;
  }
  @keyframes fadeInBracc { // Add animation (fade in the popup)
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  @-webkit-keyframes fadeInBracc {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  // added by daya
// .selectedBrViewTbl {
//   border: 1px solid black;
//   border-collapse: collapse;
// }
/* Style the lines by removing the fill and applying a stroke */
::ng-deep .line {
  fill:none;
  stroke: #ffab00;
  stroke-width: 3;
}
.chart {
  width: 900;
  height: 500;

  margin: 20px 25px;
}

