[BrAcc selection control help sample]<br>
BrAcc:
<span class="selectedNavBraccCl" (click)=onSelectedNavClicked($event)>{{selectedNav}}&#x25bc;
    <span class="navSelectionPopupBraccCl" id="braccViewerNavSelectionPopupId" (click)=onNavSelectionPopupClicked($event)>
        NAVs:
        <select  id="braccViewerNavSelect" (change)="onNavSelectChange($event)">
        </select>
        </span>
</span>
MarketBar
<span>
    <span *ngFor="let item of uiMktBar"> 
        <a href="https://uk.tradingview.com/chart/?symbol={{item.symbol}}">{{item.symbol}}</a>: 
        <span [ngClass]="{
            'mktBarPositivePerf' : item.pctChg > 0,
            'mktbarNegativePerf' : item.pctChg < 0
         }">{{item.pctChg | percent:'1.2'}},
        <!-- {{item.lastClose | percent:'1.2'}} -->
        </span>
    </span>
</span>
<hr>

<div>
    <span>
    <div class="AccSumm">
        <h4>Account Summary</h4>
        <div id="plSum">P&L Today : {{uiSnapTab.sumPlTod}}</div>
        <div>NAV IB Total NetLiquidation (with cash) : <Span id="liqVal">{{uiSnapTab.netLiquidationStr | currency:'USD':'$'}}</Span> </div>
        <div>IB Total Cash :<span id="idTotalCash">{{uiSnapTab.totalCashValue}}</span></div>
        <div>IB Initial MarginReq: <span id="idTotalInitMarginReq">{{uiSnapTab.initialMarginReq}}</span></div>
        <div>IB Maintenance MarginReq: <span id="idTotalMaintMarginReq">{{uiSnapTab.maintMarginReq}}</span></div>
        <div>IB Gross Position Value: <span id="idTotalGrossPosValue">{{uiSnapTab.grossPositionValue}}</span></div>
    </div>
    <div class="ChartSumm">
        <span class="tab">
            <span id="default" (click)="tabHeaderClicked($event,1)"> HistoricalChart </span>
            <span id="default" (click)="tabHeaderClicked($event,2)"> MoreDetails </span>
        </span>
        <div>
            <div *ngIf="tabPageVisibleIdx == 1" id="tab1">
                <h4>AccountDetails</h4>
                <p>Display the chart here</p>
            </div>
            <div *ngIf="tabPageVisibleIdx == 2" id="tab2">
                <h4>MoreDetails</h4>
                <p>Display the details></p>
            </div>
        </div>
    </div>
    
    <!-- <div class="ChartSumm tab">
        <h4>AccountDetails</h4>
        <button class="tablinks" (click)="openTab($event,'HistoricalChart')">HistoricalChart</button>
        <button class="tablinks" (click)="openTab($event, 'MoreDetails')">MoreDetails</button>
    
        <div id ="HistoricalChart" class="tabcontent">
           
            <h4>AccountDetails</h4>
            <p>Display the chart here</p>
        </div>
        <div id ="MoreDetails" class="tabcontent">
            
            <h4>MoreDetails</h4>
            <p>Display the details></p>
        </div>
    </div> -->
    <!-- <div class="ChartSumm">
    <h4>AccountDetails</h4>
        <mat-tab-group>
            <mat-tab class="main" label="HistoricalChart">
                
            </mat-tab>
            <mat-tab class="main" label="MoreDetails">
               
            </mat-tab>
        </mat-tab-group>
    </div> -->
</span>
</div>
<br>

<hr>
<table class = "selectedBrcAccSnapShotTbl">
    <thead class = "selectedBrcAccSnapShotTbl">
        <th (click)="onSortingClicked($event, 'Symbol','Increasing')">Symbol</th>
        <th>LocalSymbol</th>
        <th (click)="onSortingClicked($event, 'Pos','Increasing')">Pos</th>
        <th (click)="onSortingClicked($event, 'Cost','Increasing')">Cost</th>
        <th (click)="onSortingClicked($event, 'PriorClose','Increasing')">Prior<br>Close</th>
        <th (click)="onSortingClicked($event, 'estPrice','Increasing')">Est<br>Price</th>
        <th (click)="onSortingClicked($event, 'DailyPctChg','Increasing')">Chg%<br>Today</th>
        <th (click)="onSortingClicked($event, 'plTod','Increasing')">P&L<br>Today</th>
        <th (click)="onSortingClicked($event, 'ProfLos','Increasing')">P&L</th>
        <th (click)="onSortingClicked($event, 'MktVal','Increasing')">MktVal</th>
        <th (click)="onSortingClicked($event, 'EstUndPrice','Increasing')">Est<br>UndPr</th>
        <th (click)="onSortingClicked($event, 'IbCompUndPr','Increasing')">IbComp<br>UndPr</th>
        <th (click)="onSortingClicked($event, 'IbCompDeltar','Increasing')">IbComp<br>Deltar</th>
        <th (click)="onSortingClicked($event, 'DelivVal','Increasing')">Deliv<br>Value</th>
        <th (click)="onSortingClicked($event, 'DltAdjDelivVal','Increasing')">DltAdj<br>DelivVal</th>
        <th (click)="onSortingClicked($event, 'gBeta','Increasing')">gBeta</th>
        <th (click)="onSortingClicked($event, 'gBetaDltAdj','Increasing')">BetaDltAdj<br>MktOriVal</th>
        <th (click)="onSortingClicked($event, 'Acc','Increasing')">Acc</th>
    </thead>
    <tbody class = "selectedBrcAccSnapShotTbl">
    <tr *ngFor="let item of uiSnapPosItem">
        <td>{{item.symbol}}</td>
        <td></td>
        <td>{{item.pos}}</td>
        <td>{{item.avgCost | number:'1.1-2'}}</td>
        <td>{{item.priorCloseStr}}</td>
        <!-- <td>{{item.lastCloseStr}}</td> -->
        <td>{{item.estPrice | number:'1.1-2'}}</td>
        <td [ngClass]="{
            'mktBarPositivePerf' : item.pctChgTod > 0,
            'mktbarNegativePerf' : item.pctChgTod < 0
         }">{{item.pctChgTod | percent:'1.2'}}</td>
        <td >{{item.plTod}}</td>
        <td>{{item.pl}}</td>
        <td>{{item.mktVal}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{item.gBeta | number:'1.1-2'}}</td>
        <td>{{item.betaDltAdj}}</td>
        <td>{{item.accId}}</td>
    </tr>
    </tbody>
</table>
<!-- <button (click)="onSortClicked($event)">Sort</button>fv -->
<hr>
<!-- Addded class "selectedTempDebug" to limit the text output in the UI-->
<div class="selectedTempDebug">
<br><br>Temporary Debug Info: <br>
HandshakeMsgStr: <br> <span>{{ handshakeStr }}</span><br><br>
MarketBarLastClosesStr: <br> <span>{{ mktBrLstClsStr }}</span><br><br>
HistStr: <br> <span>{{ histStr }}</span><br><br>
BrAccountSnapshot: <br> <span>{{ brAccountSnapshotStr }}</span>
</div>

<hr>
[1. MarketBar on top, QQQ, SPY, TLT, VXX, UNG, USO]<br>
[2. [AccountData under it]<br>
    2.1 [AccountSummary, 1/3rd on the left box] NAV selection combo-box, P&L Today (both from Positions and yesterdayNav), NAV (only)<br>
    2.2 [AccountDetails, 2/3rd on the right box] Tabpage with 2 tabs<br>
        2.2.1 [HistoricalChart] default: visible, PeridSelectionComboBox (YTD) at bottom<br>
        2.2.2 [MoreDetails: Cash, MarginReq], default: hidden<br>
[3. AccountPositions under it, the data table]<br>
