BrAcc:
<span>
  <select class="selectedNavBraccCl" [(ngModel)]="navSelectionSelected" (change)="onNavSelectedChange()">
    <option *ngFor="let item of navSelection" [value]="item">{{item}}</option>
  </select>
</span>
MarketBar
<span>
  <span *ngFor="let item of uiMktBar.poss">
    <a href="https://uk.tradingview.com/chart/?symbol={{item.symbol}}" target="_blank">{{item.symbol}}</a>:
    <span [ngClass]="{'importantToHighlight' : item.symbol == 'SPY'}">
      <span [ngClass]="{
            'positiveVal' : item.pctChg > 0,
            'negativeVal' : item.pctChg < 0
         }">{{item.pctChg | percent:'1.2'}},
      </span>
    </span>
  </span>
  <span>{{uiMktBar.lstValLastRefreshTimeStr}}</span>
</span>
<hr class="hrWithoutMargin">
<div>
  <span>
    <div class="AccSumm">
      <div class="plSum">Account Summary
        <span class="notImpInfo"> (PreMkt:4:00ET=9:00GMT)</span>
      </div>
      <div>
        <span class="plSum tooltipGeneral">NAV :
          <span id="liqVal">{{uiSnapTable.netLiquidation | currency:'USD':'symbol':'1.0'}}</span>
          <div class="tooltipText">
            Total NetLiquidation<br>(with cash)
          </div>
        </span>
        <span class="timeInfoNav"> ({{uiSnapTable.navLastUpdateTimeAgoStr}})</span>
      </div>
      <div class="plSum tooltipGeneral">P&L Today
        <span class="notImpInfo"> (PriorNAV)</span> :
        <span [ngClass]="{
                'positiveVal' : uiSnapTable.plTodPrNav > 0,
                'negativeVal' : uiSnapTable.plTodPrNav < 0
                }"> {{uiSnapTable.plTodPrNav | currency:'USD':'symbol':'1.0'}}
        </span>
        <span class="importantToHighlight">
          <span class="notImpInfo" [ngClass]="{
                    'positiveVal' : uiSnapTable.pctChgTodPrNav > 0,
                    'negativeVal' : uiSnapTable.pctChgTodPrNav < 0
                    }"> ({{uiSnapTable.pctChgTodPrNav | percent:'1.2'}})
          </span>
        </span>
        <div class="tooltipText">
          Profit is calculated from<br> current and previous day NAV
        </div>
        <span class="timeInfoNav"> ({{uiSnapTable.navLastUpdateTimeAgoStr}})</span>
      </div>
      <span class="tooltipGeneral plSum">P&L Today
        <span class="notImpInfo">(Positions)</span> :
        <span [ngClass]="{
                'positiveVal' : uiSnapTable.sumPlTodVal > 0,
                'negativeVal' : uiSnapTable.sumPlTodVal < 0
                }">{{uiSnapTable.sumPlTodVal | currency:'USD':'symbol':'1.0' }}
        </span>
        <span class="notImpInfo" [ngClass]="{
                'positiveVal' : uiSnapTable.sumPlTodPct > 0,
                'negativeVal' : uiSnapTable.sumPlTodPct < 0
                }">({{uiSnapTable.sumPlTodPct | percent:'1.2'}})
        </span>
        <div class="tooltipText">
          Profit is calculated as <br>a sum of the table cells
        </div>
      </span>
      <span class="tooltipGeneral plSum">
        <div class="tooltipText">
          Force reload snapshot table<br>(Realtime: NAV, #Pos, EstPrice)<br>Returns snapshot 2x.<br>Once in 0.6sec with RT stock YF prices.<br>Secondly, in 9 sec with RT option IB prices.
        </div>
        <span class="refresh"><img class="refresh" src='../assets/images/refresh64_vslow_30pct.avif' (click)="onSnapshotRefreshClicked()"></span>
      </span>
      <span class="notImpInfo">{{uiSnapTable.snapLastUpateTimeLoc | date:'H:mm'}} ({{uiSnapTable.snapLastUpdateTimeAgoStr}})</span>
      <span><br>
        <button class="detailsAndHistChartButtons" [ngStyle]="{'background-color':tabPageVisibleIdx == 1 ? 'aqua':''}" (click)="onTabHeaderClicked(1)"> Details </button>&nbsp;&nbsp;
        <button class="detailsAndHistChartButtons" [ngStyle]="{'background-color':tabPageVisibleIdx == 2 ? 'aqua':''}" (click)="onTabHeaderClicked(2)"> HistoricalChart </button>
      </span>
    </div>
    <div class="ChartSumm">
      <div [hidden]="tabPageVisibleIdx!= 1" id="tab1">
        <div class="moreDetailsPartitionsPrNav">
          <div>PriorNAV: <span class="moreDetailsSum">{{uiSnapTable.priorCloseNetLiquidation | number}}</span></div>
          <div>IB Total Cash: <span class="moreDetailsSum">{{uiSnapTable.totalCashValue | number}}</span></div>
          <div>IB Initial MarginReq: <span class="moreDetailsSum">{{uiSnapTable.initialMarginReq | number}}</span></div>
          <div>IB Mntnc MarginReq: <span class="moreDetailsSum">{{uiSnapTable.maintMarginReq | number}}</span></div>
          <div>IB Gross Pos Value: <span class="moreDetailsSum">{{uiSnapTable.grossPositionValue | number}}</span></div>
        </div>
        <div class="moreDetailsPartitions"><span class="moreDetailsSum">Visible:</span>
          <div>Number Of Positions: <span class="moreDetailsSum">{{uiSnapTable.visibleNumOfPoss | number}}</span></div>
          <div>Long Stock MktVal: <span class="moreDetailsSum">{{uiSnapTable.visibleLongStockValue | number}}</span></div>
          <div>Short Stock MktVal: <span class="moreDetailsSum">{{uiSnapTable.visibleShortStockValue | number}}</span></div>
          <!-- <div>LC+SP Optn DeltaAdj DelVal: <span class="moreDetailsSum">{{uiSnapTable.visibleLongOptionDeltaAdjValue | number :'1.0-0'}}</span></div>
          <div>LP+SC Optn DeltaAdj DelVal: <span class="moreDetailsSum">{{uiSnapTable.visibleShortOptionDeltaAdjValue | number :'1.0-0'}}</span></div> -->
          <div>Delta Adjusted Bullish/Bearish<br>Market Orientation: <span class="moreDetailsSum">{{uiSnapTable.visibleDeltaAdjTotalMarketOrientation | number}}</span></div>
          <div class="tooltipGeneral plSum">P&L Today :
            <span [ngClass]="{
              'positiveVal' : uiSnapTable.visibleSumPlTodVal > 0,
              'negativeVal' : uiSnapTable.visibleSumPlTodVal < 0
              }">{{uiSnapTable.visibleSumPlTodVal | currency:'USD':'symbol':'1.0'}}
            </span>
            <span class="notImpInfo" [ngClass]="{
              'positiveVal' : uiSnapTable.visibleSumPlTodPct > 0,
              'negativeVal' : uiSnapTable.visibleSumPlTodPct < 0
              }">({{uiSnapTable.visibleSumPlTodPct | percent:'1.2'}})
            </span>
            <div class="tooltipText">
              Profit is calculated as <br>a sum of the visible table cells
            </div>
          </div>
        </div>
        <div class="moreDetailsPartitions">
          <div>Number Of All Positions: <span class="moreDetailsSum">{{uiSnapTable.numOfPoss}}</span></div>
          <div>Long Stock MktVal:
            <span class="tooltipGeneral moreDetailsSum">{{uiSnapTable.longStockValue | number}}*
              <div class="tooltipText">
                !! Long VXX is here, although it is market bearish.<br>
              </div>
            </span>
          </div>
          <div>Short Stock MktVal: <span class="moreDetailsSum">{{uiSnapTable.shortStockValue | number}}</span></div>
          <div>LC+SP Optn DeltaAdj DelVal:
            <span class="tooltipGeneral moreDetailsSum">{{uiSnapTable.longOptionDeltaAdjValue | number :'1.0-0'}}*
              <div class="tooltipText">
                Long Call options and Short Put options have positive market exposure.
              </div>
            </span>
          </div>
          <div>LP+SC Optn DeltaAdj DelVal:
            <span class="tooltipGeneral moreDetailsSum">{{uiSnapTable.shortOptionDeltaAdjValue | number :'1.0-0'}}*
              <div class="tooltipText">
                Long Put options and Short Call options have negative market exposure.
              </div>
            </span>
          </div>
        </div>
        <div class="moreDetailsPartitions" id="borderRemove">
          <div class="tooltipGeneral">Max Risked estimate:<br><span class="moreDetailsSum">{{uiSnapTable.totalMaxRiskedN | number}}</span>
            <span class="moreDetailsSum" [ngClass]="{'green' : uiSnapTable.totalMaxRiskedLeverage < 1.3,
                                                      'orange': uiSnapTable.totalMaxRiskedLeverage <= 1.5,
                                                      'red' : uiSnapTable.totalMaxRiskedLeverage > 1.5}"> (Leverage: {{uiSnapTable.totalMaxRiskedLeverage | number :'1.2-2'}})*
            </span>
            <div class="tooltipText">
              LongStk + ShortStk (incorrect! Infinite) <br>
              + LongOptMktValue + ShortOptMktValue (incorrect! Infinite) <br>
              Leverage greater than 1.5 -> red <br>
              Leverage between 1.3 - 1.5 -> orange <br>
              Leverage less than 1.3 -> green
            </div>
          </div>
          <div class="tooltipGeneral">Delta Adjusted Bullish/Bearish<br>Market Orientation: <span class="moreDetailsSum">{{uiSnapTable.deltaAdjTotalMarketOrientation | number}}</span>
            <div class="tooltipText">
              LongStock - ShortStock + dAdj.CallOption <br>- dAdj.PutOption
            </div>
          </div>
          <div class="tooltipGeneral accSummaryImportantInfo">BetaDeltaAdj Bullish/Bearish Mkt Orient:
            <span class="moreDetailsSum">{{uiSnapTable.betaDeltaAdjTotalMarketOrientation | number :'1.0-0'}}*</span>
            <div class="tooltipText">
              Approx. mkt exposure sum
            </div>
            <span class="moreDetailsSum" [ngClass]="{'green' : uiSnapTable.totalMaxRiskedLeverage < 1.3,
                                                      'orange': uiSnapTable.totalMaxRiskedLeverage <= 1.5,
                                                      'red' : uiSnapTable.totalMaxRiskedLeverage > 1.5}">
              (Leverage: {{uiSnapTable.betaDeltaAdjTotalMarketOrientationLeverage | number :'1.2-2'}})*
            </span>
          </div>
        </div>
      </div>
      <div [hidden]="tabPageVisibleIdx == 1" id="tab2">
        <div>
          <span>
            <div class="chrtTimeFrameSelection">
              <div class="selectionDropDown">
                <input id="histPeriodInput" class="highlightInputDropDown" type="text" [(ngModel)]="histPeriodSelectionSelected" (change)="onHistPeriodSelectionClicked(histPeriodSelectionSelected)">
                <div class="listDropDown">
                  <option class="optionDropDown" *ngFor="let item of histPeriodSelection" [value]="item" (click)="onHistPeriodSelectionClicked(item)">{{item}}</option>
                </div>
              </div>
              <div>StartDate: <input class="histPeriodDateCl" type="date" id="StartDate" name="startDate" min="01-01-1975" [(ngModel)]="histPeriodStartETstr" (change)="onHistPeriodChangeClicked()"></div>
              <div>EndDate: <input class="histPeriodDateCl" type="date" id="EndDate" name="EndDate" min="01-01-1975" max="01-01-2040" [(ngModel)]="histPeriodEndETstr" (change)="onHistPeriodChangeClicked()"></div>BenchMark:
              <div class="selectionDropDown">
                <input id="bnchmrkInput" class="highlightInputDropDown" type="text" [(ngModel)]="bnchmkTickerSelectionSelected" (change)="onHistPeriodChangeClicked()">
                <div class="listDropDown">
                  <option class="optionDropDown" *ngFor="let item of bnchmkTickerSelection" [value]="item" (click)="onBnchmrkSelectionClicked(item)">{{item}}</option>
                </div>
              </div>
              <div>MaxDD<span class="notImpInfo">(NAV/BnchMrk):</span>
                <span class="histBchMrkDetails" *ngFor="let item of uiHistData; last as isLast">
                  {{item.periodMaxDD | percent:'1.2'}}
                  <ng-container *ngIf="!isLast">/</ng-container>
                </span>
              </div>
              <div>Return<span class="notImpInfo">(NAV/BnchMrk):</span>
                <span class="histBchMrkDetails" *ngFor="let item of uiHistData; last as isLast">
                  {{item.periodReturn | percent:'1.2'}}
                  <ng-container *ngIf="!isLast">/</ng-container>
                </span>
              </div>
            </div>
          </span>
        </div>
        <div *ngIf="isHistPeriodDateValid; else validDateDialog" id="navChrt"></div>
        <ng-template #validDateDialog>
          <div id="validDateDialog">Please input a valid date. Ensure that both the start and end dates are valid to view the graph</div>
        </ng-template>
      </div>
    </div>
  </span>
</div>
<hr class="hrWithoutMargin">
<span id="filtering">
  <span><a href="https://docs.google.com/spreadsheets/d/1NP8Tg08MqSoqd6wXSCus0rLXYG4TGPejzsGIP8r9YOk" target="_blank">AssetCategory</a>:
    <span class="selectionDropDown">
      <input id="assetCategoryInput" class="highlightInputDropDown" type="text" [(ngModel)]="assetCategorySelectionSelected" placeholder="No Filter">
      <span class="listDropDown">
        <option class="optionDropDown" *ngFor="let item of uiAssetCategories" [value]="item" (click)="onAssetCategorySelectionClicked(item)">{{item.tag}}</option>
      </span>
    </span>
  </span>
  <span>
    <input type="checkbox" [checked]="isFilteringBasedonMktVal" (click)="onSnapTableSmallMktValClicked()">HideSmallMktVal
    <input type="checkbox" [checked]="isFilteringBasedonPlDaily" (click)="onSnapTableSmallPlDailyClicked()">HideSmallPLt
    <input type="checkbox" [checked]="isFilteringBasedonOptions" (click)="onSnapTableOptionsClicked()">HideOptions
  </span>&nbsp;
  <span id="bullishPennantContainer" title="Show the Visible tickers in Technical Analyzer">
    <svg width="38" height="25" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" (click)="onOpenTechicalAnalyzerClicked()">
      <defs>
        <marker id="arrow" viewBox="0 0 6 6" refX="3" refY="3" markerWidth="6" markerHeight="6" orient="auto-start-reverse"><!-- using marker element to draw arrowheads. see, https://developer.mozilla.org/en-US/docs/Web/SVG/Element/marker -->
          <path d="M 0 0 L 6 3 L 0 6 z" fill="green" />
        </marker>
      </defs>
      <g stroke="blue" stroke-width="2">
        <line x1="0" y1="40" x2="14" y2="10"/>
        <line x1="22" y1="30" x2="14" y2="10"/>
        <line x1="22" y1="30" x2="30" y2="14"/>
        <line x1="36" y1="30" x2="30" y2="14"/>
        <line x1="36" y1="30" x2="40" y2="18"/>
        <line x1="44" y1="30" x2="40" y2="18"/>
      </g>
      <line x1="44" y1="30" x2="50" y2="5" stroke="green" stroke-width="2" marker-end="url(#arrow)"/>
      <line x1="16" y1="12" x2="50" y2="18" stroke="black" stroke-width="2"/> <!-- Slanting line touching all y2 points -->
      <line x1="5" y1="30" x2="48" y2="30" stroke="black" stroke-width="2"/> <!-- Slanting line touching all x1 points -->
    </svg>
  </span>
</span>
<div class="brAccSnapTbl">
<table class="selectedBrcAccSnapShotTbl">
  <thead class="selectedBrcAccSnapShotTbl">
    <tr class="tableHeader">
      <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='symbol'}" (click)="onSortingClicked('symbol')">Symbol</th>
      <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='symbolEx'}" (click)="onSortingClicked('symbolEx')">SymbolEx</th>
      <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='qty'}" (click)="onSortingClicked('qty')">Qty</th>
      <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='avgPrice'}" (click)="onSortingClicked('avgPrice')">AvgPrice</th>
      <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='priorClose'}" (click)="onSortingClicked('priorClose')">Prior<br>Close</th>
      <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='estPrice'}" (click)="onSortingClicked('estPrice')">EstPrice</th>
      <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='pctChgTod'}" (click)="onSortingClicked('pctChgTod')">Chg%<br>Today</th>
      <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='plTod'}" (click)="onSortingClicked('plTod')">P&L<br>Today</th>
      <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='costBasis'}" (click)="onSortingClicked('costBasis')">Cost<br>Basis</th>
      <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='mktVal'}" (click)="onSortingClicked('mktVal')">MktVal</th>
      <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='plPctTotal'}" (click)="onSortingClicked('plPctTotal')">P&L%<br>Total</th>
      <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='plTotal'}" (click)="onSortingClicked('plTotal')">P&L<br>Total</th>
      <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='estUndPrice'}" (click)="onSortingClicked('estUndPrice')">Est<br>UndPr</th>
      <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='delivValue'}" (click)="onSortingClicked('delivValue')">Deliv<br>Value</th>
      <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='ibCompDelta'}" (click)="onSortingClicked('ibCompDelta')">IbComp<br>Delta</th>
      <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='dltAdjDelivVal'}" (click)="onSortingClicked('dltAdjDelivVal')">DltAdj<br>DelivVal</th>
      <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='gBeta'}" (click)="onSortingClicked('gBeta')">gBeta</th>
      <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='betaDltAdj'}" (click)="onSortingClicked('betaDltAdj')">BetaDltAdj<br>MktOriVal</th>
      <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='accIdStr'}" (click)="onSortingClicked('accIdStr')">Acc</th>
    </tr>
  </thead>
  <tbody class="selectedBrcAccSnapShotTbl">
    <tr *ngFor="let item of uiSnapTable.poss">
      <td class="tooltipStck" (mouseenter)="onMouseEnterSnapTableSymbol($event, item)" (mouseover)="onMouseOverSnapTableSymbol()" (mouseleave)="onMouseLeaveSnapTableSymbol()">
        <a href="https://uk.tradingview.com/chart/?symbol={{item.symbol}}" target="_blank">
          {{item.symbol}}
        </a>
      </td>
      <td>{{item.symbolEx}}</td>
      <td>{{item.qty | number}}</td>
      <td>{{item.avgPrice | number:'1.2-2'}}</td>
      <td>{{item.priorClose | number:'1.2-2'}}</td>
      <td>{{item.estPrice | number:'1.2-2'}}</td>
      <td [ngClass]="item.pctChgTod > 0 ? 'positiveVal' : 'negativeVal'">{{item.pctChgTod | percent:'1.2'}}</td>
      <td>{{item.plTod | number}}</td>
      <td>{{item.costBasis | number}}</td>
      <td>{{item.mktVal | number}}</td>
      <td [ngClass]="item.plPctTotal > 0 ? 'positiveVal' : 'negativeVal'">{{item.plPctTotal | percent:'1.2'}}</td>
      <td>{{item.plTotal | number}}</td>
      <td>{{item.estUndPrice | number}}</td>
      <td>{{item.delivValue | number}}</td>
      <td>{{item.ibCompDelta | number}}</td>
      <td>{{item.dltAdjDelivVal | number:'1.0-0'}}</td>
      <td>{{item.gBeta | number:'1.1-2'}}</td>
      <td>{{item.betaDltAdj | number}}</td>
      <td>{{item.accIdStr}}</td>
    </tr>
  </tbody>
</table>
</div>
<!-- <hr> -->
<div id="stckTooltip" class="tooltipText" (mouseenter)="onMouseEnterStockTooltip()" (mouseleave)="onMouseLeaveStockTooltip()" *ngIf="isShowStockTooltip">
  <span id="stckTooltipName">Name: {{stockTooltipName}}<br></span>
  <a href="https://uk.tradingview.com/chart/?symbol={{stockTooltipSymbol}}" target="_blank">
    <svg width="28" height="22" viewBox="0 0 28 22" xmlns="http://www.w3.org/2000/svg">
      <path d="M 12 20 H 7 V 11 H 0 V 4 h 12 v 16 z 
                        M 24 20 h-8 l 7.5-18 h 8 L 22 20 z" fill="currentColor">
      </path>
      <circle cx="16.5" cy="7" r="4" fill="currentColor" />
    </svg>
  </a>,
  <a href="https://finance.yahoo.com/quote/{{stockTooltipSymbol}}" target="_blank"><img alt='YF' src='../assets/yf_vslow_30pct.avif' width='20' height='20'></a>,
  <a href="https://www.zacks.com/stock/quote/{{stockTooltipSymbol}}" target="_blank"><img alt='Zacks' src='../assets/zacks_vslow_30pct.avif' width='20' height='20'></a>,
  <a href="https://www.earningswhispers.com/tradeview/{{stockTooltipSymbol}}" target="_blank"><img alt='earningswhispers-BeforeEarnings' src='../assets/ew_be_vslow_30pct.avif' width='20' height='20'></a>,
  <a href="https://www.earningswhispers.com/epsdetails/{{stockTooltipSymbol}}" target="_blank"><img alt='earningswhispers-AfterEarnings' src='../assets/ew_ae_vslow_30pct.avif' width='20' height='20'></a>,
  <a href="https://www.tipranks.com/stocks/{{stockTooltipSymbol}}/forecast" target="_blank"><img alt='TipRanks' src='../assets/tr_vslow_30pct.avif' width='20' height='20'></a>,
  <a href="https://stockcharts.com/h-sc/ui?s={{stockTooltipSymbol}}" target="_blank"><img alt='stocksCharts' src='../assets/sc_vslow_30pct.avif' width='20' height='20'></a> <br>
  <span id="stockChrt"></span>
</div>
<!-- Addded class "selectedTempDebug" to limit the text output in the UI-->
<div id="warning">{{uiSnapTable.clientMsg}}</div>
<div class="selectedTempDebug">
<br><br>Temporary Debug Info:<br>
<div class="tooltipGeneral">HandshakeMsgStr:
  <div class="tooltipText">
    {{handshakeStrFormatted}}
  </div>
</div>
<div class="tooltipGeneral">MarketBarLastClosesStr:
  <div class="tooltipText">
    {{mktBrLstClsStrFormatted}}
  </div>
</div>
<div class="tooltipGeneral">HistStr:
  <div class="tooltipText">
    {{navHistStrFormatted}}
  </div>
</div>
<div class="tooltipGeneral">BrAccountSnapshot:
  <div class="tooltipText">
    {{brAccountSnapshotStrFormatted}}
  </div>
</div>
<div class="tooltipGeneral">StockHistData:
  <div class="tooltipText">
    {{stockHistStrFormatted}}
  </div>
</div>
</div>
<br>