.vertical-menu {
  width: 100px;
}

.vertical-menu div {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  cursor: pointer;
}

.vertical-menu div:hover {
  background-color: #ccc;
}

.vertical-menu div.active {
  background-color: #4CAF50;
  color: white;
}

.horizontal-menu {
  list-style-type: none;
  height: 40px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.horizontal-menu li {
  float: left;
}
.horizontal-menu div {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.horizontal-menu div:hover {
  background-color: #ccc;
}

.horizontal-menu div.active {
  background-color: #4CAF50;
  color: white;
}

.newsTicker {
  // float: left;
  // width: 80px;
  // height: 40px;
  background-color: #eee;
  color: black;
}

.newsItemStock {
  display: block;
}

.inVisible {
  display: none;
}

.previewed {
  text-shadow: 0px 0px 1px black;
}

.filterSelector {
  margin-bottom: 10px;
}