:host { // this is the Shadow DOM root of the big main App component. The :hosts in the sub-components can overwrite this, but this still applies to them as default.
  font-size: 82.5%;
  line-height: 1.1;
}

.chrtGenDiagnosticsMsg {
  position: absolute; // replacing the default (static), because we intentionally put it in the top right corner
  top: 0rem;
  right: 0rem;
}

.mainDiv1 {
  background: linear-gradient(to right, #3080c7 5%, #5b9dd7 10%, #d5f5f6 30%, #d5f5f6 70%, #ace16b 90%, #91d73a 95%);
}

.commonColStyle { // same style for all the div's of Portfolios, StockAndIndexex, TechIndicators and others ( 4 sections similar to sniffeQuant Chart Generator)
  display: inline-block; // will achieve a side-by-side layout for the elements while still having the ability to control their width, height, and spacing
  width: 24.8%;
  min-height: 8rem;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  border: solid #080c0c 0.01rem;
  vertical-align: top; //  default is Baseline, baseline alignment may result in slight vertical misalignment. Align elements to the top of the line otherwise it will start at the level of the last element
  box-sizing: border-box; // padding and border are included in the width and height. ref - https://www.w3schools.com/css/css3_box-sizing.asp
}

.highlightInputBox {
  margin: 0.05rem 0 0.1rem 0;
  border: 0 0 0 0; // Removing the default values input tag
  padding: 0 0 0 0; // Removing the default values input tag
  border-radius: .2rem;
  color: blue;
  height: 1rem;
  font-size: 0.8rem;
  width: 60%;
  box-sizing: border-box;
}

.prtfInputWidth {
  width: 90%;
}

.selectionDropDown {
  position: relative; // position: relative, will remain in the natural flow of the page. It will also act as anchor point for the absolutely positioned Child (listDropDown) element:
  display: inline-block;// It combines the characteristics of inline elements, which flow within the content, and block-level elements, which create line breaks and can have specified width and height
  border-radius: .5rem;
}

.listDropDown {
  display: none;
  position: absolute; // positioned based on the ancestor(selectionDropDown) element
  background-color: #f1f1f1;
  min-width: 4rem;
  z-index: 1;
  border-radius: .5rem;
}

.listDropDown option:hover {
  background-color: #ddd;
}

.selectionDropDown:hover .listDropDown {
  display: block;
}

.selectionDropDown:hover .highlightInputDropDown {
  background-color: rgba(255, 255, 128, .5);
}

.optionDropDown {
  border: 0.1rem solid lightblue;
  cursor: pointer;
  border-radius: .5rem;
}

.backtestPrtfOrBmrkSelected {
  background-color: whitesmoke;
}

.btnClearCommon { // Common for both Prtf and Benchmarks
  position: absolute;
  top: 9.5rem;
}

.prtfsSelected {
  left: 25rem;
}

.bmrksSelected {
  left: 52rem;
}

.backtestBtn {
  margin: 0.3rem 0 0 0.3rem;
}

.range {
  margin-top: -0.5rem;
}

.rangeInputWidth {
  width: 3.6rem;
  border-radius: .2rem;
}

#backtestPvChrt {
  width: 100%;
  height: 42.5vh;
  background-color: whitesmoke;
}

#tooltipChart {
  display: block;
  position: absolute;
  font-size: 0.8rem;
  background-color: #F4F6F6;
  text-align: center;
  opacity: 0.92;
  padding: 0.5rem 0;
  border: 0.05rem solid orange;
  border-radius: 0.6rem;
}

.errWarnLog {
  color: #FF0000;
}

.infoLog {
  color: rgb(32, 34, 148);
}

// Progress Bar section Styles - Start
.progressBarContainer {
  position: relative; // its positioned relative to normal position, it will be adjusted away from its normal position by setting top, left, right and bottom porperties.
  width: 10%;
  height: 2rem;
  left: 48rem;
  top: -20rem;
  background-color: #ccc;
  border: .1rem solid #FF5F1F;
  border-radius: 0.5rem;
}

.progressBarContainer .progressBar {
  height: 2rem;
  background-color: #3060c7;
  border-radius: 0.5rem;
}

@keyframes progressAnimation {
  0% { width: 0%; }
  100% { width: 100%; }
}
// Progress Bar section Styles - End

.statsTbl {
  margin: auto;
  width: 50vh;
  display: flex;
  align-items: stretch;
  white-space: nowrap; // nowrap auto adjust the text with multiple lined to a single line
}

.statsTbl table, tr, th, td {
  padding: 0rem;
  border: 0.1rem solid black;
  border-collapse: collapse;
  border-width: 0.02rem;
  width: 7rem;
  text-align: center;
}

thead {
  cursor: pointer;
  color: #0b0e0e;
  background-image: linear-gradient(90deg, #8dc7fa 3%, #9dcef8 7%, #d5f5f6 25%, #d5f5f6 55%, #ace16b 85%, #91d73a 90%);
}

tr:nth-child(even) {
  background-color: #9dcef8;
}

.startAndEndDate {
  width: 5.2rem;
}

// The Date format dispalyed on the UI is based on the OS settings. This for the reason to accomadate different regions date formats.
// But, We want to user a common format to be displayed, so by using the below CSS style with webkit we are showing the fake format, please refer the below stackoverflow link.
// eg: In India the Date format is dd-mm-yyyy by applying the Css webkit we turn the format to yyyy|mm|dd.
// https://stackoverflow.com/questions/7372038/is-there-any-way-to-change-input-type-date-format
input[type="date"]::-webkit-datetime-edit, input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-clear-button {
  color: #fff; // This is to hide the orginal format hypens "-".
  position: relative;
}

input[type="date"]::-webkit-datetime-edit-day-field, input[type="date"]::-webkit-datetime-edit-month-field, input[type="date"]::-webkit-datetime-edit-year-field {
  position: absolute !important;
  border-left: 0.02rem solid #8c8c8c;
  color: #000;
}

input[type="date"]::-webkit-datetime-edit-day-field {
  left: 56px;
}

input[type="date"]::-webkit-datetime-edit-month-field {
  left: 36px;
}

input[type="date"]::-webkit-datetime-edit-year-field {
  border-left: none;
  left: 1px;
}

#prtfSelectionDialog {
  position: fixed;
  z-index: 1;
  left: 10rem;
  top: 4rem;
  overflow: auto;
  color: rgb(32, 34, 148);
  background-color: #FFA500;
  border: .03rem solid #FF5F1F;
  border-radius: 0.2rem;
}

.btnCommon {
  border-radius: 0.5rem;
}

.btnDisabled { // Insert or close buttons are disabled based on isCheckboxChecked variable
  background-color: #888;
  opacity: 0.6;
  cursor: not-allowed;
}

.btnEnabled { // Insert or close buttons are enabled based on isCheckboxChecked variable
  background-color:#90EE90;
  opacity: 1;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  align-items: stretch;
  white-space: nowrap; // nowrap auto adjust the text with multiple lined to a single line
}

thead {
  font-weight: bold;
  cursor: pointer;
}

.tableCommon td, th {
  padding: 0rem;
  border-style: ridge;
  border-width: 0.05rem;
  border-color: black;
  width: 7rem;
  text-align: center;
}

.positiveReturns {
  color: #228B22;
}

.negativeReturns {
  color: #FF0000;
}