<div class="mainDiv1">
  <h4>Chart Generator</h4>
  <br>
  PortfolioId: {{m_portfolioId}}
  <br>
  <!-- Class=commonColStyle name will be changed in future - Daya(28-04-2023) -->
  <div class="commonColStyle" id="portfolios">
    Portfolios
    <button>Select from Tree</button>
  </div>
  <div class="commonColStyle" id="stockAndIndexes">
    StockAndIndexes
  </div>
  <div class="commonColStyle" id="techIndicators">
    Tech TechIndicators
  </div>
  <div class="commonColStyle" id="others">
    Others
  </div>
</div>