:host { // this is the Shadow DOM root of the big main App component. The :hosts in the sub-components can overwrite this, but this still applies to them as default.
  font-size: 82.5%;
  line-height: 1.1;
}

.chrtGenDiagnosticsMsg {
  position: absolute; // replacing the default (static), because we intentionally put it in the top right corner
  top: 0rem;
  right: 0rem;
}

.mainDiv1 {
  background: linear-gradient(to right, #3080c7 5%, #5b9dd7 10%, #d5f5f6 30%, #d5f5f6 70%, #ace16b 90%, #91d73a 95%);
}

.commonColStyle { // same style for all the div's of Portfolios, StockAndIndexex, TechIndicators and others ( 4 sections similar to sniffeQuant Chart Generator)
  display: inline-block; // will achieve a side-by-side layout for the elements while still having the ability to control their width, height, and spacing
  width: 24.8%;
  height: 7.5rem;
  margin-bottom: 0.5rem;
  border:solid #080c0c 0.01rem;
  vertical-align: top; //  default is Baseline, baseline alignment may result in slight vertical misalignment. Align elements to the top of the line otherwise it will start at the level of the last element
}

.prtfAndBmrkInputs {
  margin-top: 0.05rem;
  border: 0 0 0 0; // Removing the default values input tag
  padding: 0 0 0 0; // Removing the default values input tag
  border-radius: .5rem;
  color: blue;
  height: 1rem;
  width: 15rem;
  font-size: 0.8rem;
}

.backtestBtn {
  margin-top: 0.5rem;
}

.range {
  margin-top: -0.5rem;
}

.histRange {
  cursor: pointer;
  font-size: 0.5rem;
  background-color: #ccc;
  border: .1rem solid rgb(43, 255, 0);
  border-radius: 0.5rem;
  padding: 0.25rem 0.25rem;
}

#backtestPvChrt {
  width: 100%;
  height: 42.5vh;
  overflow: auto;
  background-color: whitesmoke;
}

#tooltipChart {
  display: none;
  position: absolute;
  font-size: 0.8rem;
  background-color: #F4F6F6;
  text-align: center;
  opacity: 0.92;
  padding: 0.5rem 0;
  border: 0.05rem solid orange;
  border-radius: 0.6rem;
}

.errWarnLog {
  color: #FF0000;
}

.infoLog {
  color: rgb(32, 34, 148);
}

// Progress Bar section Styles - Start
.progressBarContainer {
  position: relative; // its positioned relative to normal position, it will be adjusted away from its normal position by setting top, left, right and bottom porperties.
  width: 10%;
  height: 2rem;
  left: 48rem;
  top: -20rem;
  background-color: #ccc;
  border: .1rem solid #FF5F1F;
  border-radius: 0.5rem;
}

.progressBarContainer .progressBar {
  height: 2rem;
  background-color: #3060c7;
  border-radius: 0.5rem;
}

@keyframes progressAnimation {
  0% { width: 0%; }
  100% { width: 100%; }
}
// Progress Bar section Styles - End

.statsTbl {
  margin: auto;
  width: 50vh;
  display: flex;
  align-items: stretch;
  white-space: nowrap; // nowrap auto adjust the text with multiple lined to a single line
}

.statsTbl table, tr, th, td {
  padding: 0rem;
  border: 0.1rem solid black;
  border-collapse: collapse;
  border-width: 0.02rem;
  width: 7rem;
  text-align: center;
}

thead {
  font-size: small;
  cursor: pointer;
  color: #0b0e0e;
  background-image: linear-gradient(90deg, #8dc7fa 3%, #9dcef8 7%, #d5f5f6 25%, #d5f5f6 55%, #ace16b 85%, #91d73a 90%);
  opacity: 0.8;
}

tr:nth-child(even) {
  background-color: #9dcef8;
}
