:host { // this is the Shadow DOM root of the big main App component. The :hosts in the sub-components can overwrite this, but this still applies to them as default.
  font-size: 82.5%;
  line-height: 1.1;
}

.chrtGenDiagnosticsMsg {
  position: absolute; // replacing the default (static), because we intentionally put it in the top right corner
  top: 0rem;
  right: 0rem;
}

.mainDiv1 {
  background: linear-gradient(to right, #3080c7 5%, #5b9dd7 10%, #d5f5f6 30%, #d5f5f6 70%, #ace16b 90%, #91d73a 95%);
}

.commonColStyle { // same style for all the div's of Portfolios, StockAndIndexex, TechIndicators and others ( 4 sections similar to sniffeQuant Chart Generator)
  float:left;
  width:25%;
  height:18rem;
}

#portfolios {
  background:rgb(255, 238, 0);
}

#stockAndIndexes {
  background:rgb(0, 128, 128);
}

#techIndicators {
  background:rgb(0, 132, 255);
}

#others {
  float:right;
  background:rgb(166, 255, 0);
}

#backtestPvChrt {
  width: 100%;
  height: 42.5vh;
  overflow: auto;
  background-color: whitesmoke;
}

#tooltipChart {
  display: none;
  position: absolute;
  font-size: 0.8rem;
  background-color: #F4F6F6;
  text-align: center;
  opacity: 0.92;
  padding: 0.5rem 0;
  border: 0.05rem solid orange;
  border-radius: 0.6rem;
}