/* You can add global styles (not specific to any Angular component) to this file, and also import other style files */

html {
  font-family: GeorgiaTimesNewRomanForLiningNumbers, "Times New Roman", Times, serif; // see TestFontsVerticalCentering.html
  font-size: 120%;
  line-height: 1.1;
  color: rgb(32, 34, 148);
}

@font-face {
  font-family: GeorgiaTimesNewRomanForLiningNumbers;
  src: local("Georgia");
}

@font-face {
  font-family: GeorgiaTimesNewRomanForLiningNumbers;
  src: local("Times New Roman");
  unicode-range: U+0030-0039;
}

// The Date format dispalyed on the UI is based on the OS settings. This for the reason to accomadate different regions date formats.
// But, We want to use a common format to be displayed, so by using the below CSS style with webkit we are showing the fake format, please refer the below stackoverflow link.
// eg: In India the Date format is dd-mm-yyyy by applying the Css webkit we turn the format to yyyy|mm|dd.
// https://stackoverflow.com/questions/7372038/is-there-any-way-to-change-input-type-date-format
input[type="date"]::-webkit-datetime-edit, input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-clear-button {
  color: #fff; // This is to hide the orginal format hypens "-".
  position: relative;
}

input[type="date"]::-webkit-datetime-edit-day-field, input[type="date"]::-webkit-datetime-edit-month-field, input[type="date"]::-webkit-datetime-edit-year-field {
  position: absolute !important;
  border-left: 0.02rem solid #8c8c8c;
  color: #000;
}

input[type="date"]::-webkit-datetime-edit-day-field {
  left: 66px;
}

input[type="date"]::-webkit-datetime-edit-month-field {
  left: 40px;
}

input[type="date"]::-webkit-datetime-edit-year-field {
  border-left: none;
  left: 1px;
}

.dateWidget {
  display: flex;
  align-items: center;
}

#endDateCalendar[type="date"]::-webkit-datetime-edit-day-field, #endDateCalendar[type="date"]::-webkit-datetime-edit-month-field, #endDateCalendar[type="date"]::-webkit-datetime-edit-year-field {
  display: none; /* Hide the day, month, and year fields */
}

#endDateCalendar {
  width: 1rem;
  height: 1.1rem;
}

#endDateCalendar::-webkit-calendar-picker-indicator {
  cursor: pointer; /* Ensure the calendar picker icon is clickable */
}

.commonDateInput {
  width: 1.8rem;
  text-align: center;
  height: 1rem;
}

#nextOrPrevDateButtonContainer {
  display: flex;
  flex-direction: column;
}

.nextOrPrevDateBtn {
  height: 0.575rem;
  width: 1.25rem;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.625rem;
}