/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.nav-item {
  background: radial-gradient(circle at 0.7% 1%, rgb(215, 248, 247) 0%, rgb(102, 188, 239) 100.2%);
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Common for both gptSum and gptScan */
.selectionDropDown {
  display: inline-block;
}

.listDropDown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 11.8rem;
}

.listDropDown option {
  color: black;
  display: block;
}

.listDropDown option:hover {
  background-color: #ddd;
}

.selectionDropDown:hover .listDropDown {
  display: block;
  z-index: 1; /* using this to stackup the order*/
}

.selectionDropDown:hover .highlightInputDropDown {
  background-color: rgba(255, 255, 128, .5);
}

.optionDropDown {
  border: 0.1rem solid lightblue;
  cursor: pointer;
  height: 1.8rem;
}
