<div id="panelPrtfMgr">
  <div id="panelPrtfTree">Portfolios
    <span class="tooltipGeneral">
      <div class="tooltipText">
        Force reload Portfolios Tree
      </div>
      <span class="refreshPortfolios"><img class="refreshPortfolios" src='../assets/images/refresh64.webp' (click)="onPortfoliosRefreshClicked()"></span>
    </span>
    <app-sq-tree-view [items]="uiNestedPrtfTreeViewItems" [treeViewState]="treeViewState" (click)="showPortfolioStats()" (dblclick)="onOpenPortfolioViewerClicked()"></app-sq-tree-view>
    <button (click)="showCreateOrEditPortfolioPopup('create')" [ngClass]="(treeViewState.lastSelectedItem?.prtfItemType == 'Folder') ? 'btnEnabled' : 'btnDisabled'">Create Portfolio</button>&nbsp;
    <button (click)="showCreateOrEditFolderPopup('create')" [ngClass]="treeViewState.lastSelectedItem?.prtfItemType == 'Folder' ? 'btnEnabled': 'btnDisabled'">Create Folder</button>&nbsp;<br><br>
    <button (click)="showCreateOrEditPortfolioPopup('edit')" [ngClass]="treeViewState.lastSelectedItem?.prtfItemType == 'Portfolio' ? 'btnEnabled': 'btnDisabled'">Edit Portfolio</button>&nbsp;
    <!-- The user should not be able edit virtual top folders that have negative folder.Id (checked by this condition: treeViewState.lastSelectedItem?.id! >= 0) -->
    <button (click)="showCreateOrEditFolderPopup('edit')" [ngClass]="(treeViewState.lastSelectedItem?.prtfItemType == 'Folder' && treeViewState.lastSelectedItem?.id! >= 0) ? 'btnEnabled': 'btnDisabled'">Edit Folder</button>&nbsp;<br><br>
    <button id="openPortfolioViewer" (click)="onOpenPortfolioViewerClicked()" [ngClass]="treeViewState.lastSelectedItem?.prtfItemType == 'Portfolio' ? 'btnEnabled' : 'btnDisabled'">Open in Portfolio Viewer</button>&nbsp;
    <button id="openChartGenerator" (click)="onOpenChartGeneratorClicked()" [ngClass]="treeViewState.lastSelectedItem?.prtfItemType == 'Portfolio' ? 'btnEnabled' : 'btnDisabled'">Open in Chart Generator</button>&nbsp;
    <button (click)="onDeletePrtfItemClicked()" [ngClass]="(treeViewState.lastSelectedItem?.prtfItemType == 'Folder' || treeViewState.lastSelectedItem?.prtfItemType == 'Portfolio') ? 'btnEnabled' : 'btnDisabled'">Delete</button><br><br>
    <div class="popup infoPopup" id="createOrEditFolderPopup" [ngStyle]="{'display': isCreateOrEditFolderPopupVisible ? 'block' : 'none'}"><br>
      <div>
        <div class="prtfCommon prtfFields">Name:<span class="requiredAndNotFound" *ngIf="!editedFolder.name">*</span></div>
        <div class="prtfCommon prtfUserValues">
          <input class="pfItemLongInput" type="text" placeholder="Enter Folder Name" [(ngModel)]="editedFolder.name" [value]="editedFolder.name">
        </div>
      </div>
      <div>
        <div class="prtfCommon prtfFields">Id(-1 for new):</div>
        <div class="prtfCommon prtfUserValues">
          <!-- The user should  not be able to change the Id. If an item is created, Id is a fix -1 .If editing an item, the object is identified by the immutable Id. -->
          <input class="inputItemIdCommon" type="text" placeholder="Enter Item Id" [(ngModel)]="editedFolder.id" [value]="editedFolder.id" disabled>
        </div>
      </div>
      <div>
        <div class="prtfCommon prtfFields">PrntFolderId:</div>
        <div class="prtfCommon prtfUserValues">
          <span>
          <input class="inputItemIdCommon" type="text" placeholder="Enter PrntFld Id" (keyup)="onKeyupParentFolderId(editedFolder.parentFolderId)" [(ngModel)]="editedFolder.parentFolderId" [value]="editedFolder.parentFolderId">&nbsp;
          <label><b>PrntFldName:</b>&nbsp;<span [ngClass]="{'requiredAndNotFound': parentfolderName == 'Not Found'}">{{parentfolderName}}</span></label>
        </span>
        </div>
      </div>
      <div>
        <div class="prtfCommon prtfFields">Note:</div>
        <div class="prtfCommon prtfUserValues">
          <input class="pfItemLongInput" type="text" placeholder="Note" [(ngModel)]="editedFolder.note" [value]="editedFolder.note">
        </div>
      </div><br><br>
      <div>
        <button id="createOrEditFolderButton" (click)="onCreateOrEditFolderClicked()">{{(editedFolder.id == -1) ? 'Create Folder' : 'Save Folder'}}</button>
        <button class="closePopup" (click)="closeCreateOrEditFolderPopup()" [ngStyle]="{'display': isCreateOrEditFolderPopupVisible ? 'block' : 'none'}">Cancel</button>
      </div>
    </div><br>
    <div class="popup infoPopup" id="createPortfolioPopup" [ngStyle]="{'display': isCreateOrEditPortfolioPopupVisible ? 'block' : 'none'}"><br>
      <div>
        <div>
          <div class="prtfCommon prtfFields">Name:<span class="requiredAndNotFound" *ngIf="!editedPortfolio.name">*</span></div>
          <div class="prtfCommon prtfUserValues">
            <input class="pfItemLongInput" type="text" placeholder="Enter Portfolio Name" [(ngModel)]="editedPortfolio.name">
          </div>
        </div>
        <div>
          <div class="prtfCommon prtfFields">Id(-1 for new):</div>
          <div class="prtfCommon prtfUserValues">
            <!-- The user should  not be able to change the Id. If an item is created, Id is a fix -1 .If editing an item, the object is identified by the immutable Id. -->
            <input class="inputItemIdCommon" type="text" placeholder="Enter Item Id" [(ngModel)]="editedPortfolio.id" [value]="editedPortfolio.id" disabled>
          </div>
        </div>
        <div>
          <div class="prtfCommon prtfFields">PrntFolderId:</div>
          <div class="prtfCommon prtfUserValues">
            <span>
            <input class="inputItemIdCommon" type="text" placeholder="Enter PrntFld Id" (keyup)="onKeyupParentFolderId(editedPortfolio.parentFolderId)" [(ngModel)]="editedPortfolio.parentFolderId" [value]="editedPortfolio.parentFolderId">&nbsp;
            <label><b>PrntFldName:</b>&nbsp;<span [ngClass]="{'requiredAndNotFound': parentfolderName == 'Not Found'}">{{parentfolderName}}</span></label>
          </span>
          </div>
        </div>
        <div>
          <div class="prtfCommon prtfFields">Currency:</div>
          <div class="prtfCommon prtfUserValues">
            <select name="currency" [(ngModel)]="editedPortfolio.baseCurrency">
              <option *ngFor="let currency of currencyType" [ngValue]="currency">{{currency}}</option>
            </select>
          </div>
        </div>
        <div>
          <div class="prtfCommon prtfFields">PortfolioType:</div>
          <div class="prtfCommon prtfUserValues">
            <select name="portfolioType" [(ngModel)]="editedPortfolio.portfolioType">
              <option *ngFor="let type of portfolioType" [ngValue]="type">{{type}}</option>
            </select>
          </div>
        </div>
        <div>
          <div class="prtfCommon prtfFields">SharedAccess:</div>
          <div class="prtfCommon prtfUserValues">
            <select name="sharedAccess" [(ngModel)]="editedPortfolio.sharedAccess">
              <option *ngFor="let accessType of sharedAccess" [ngValue]="accessType">{{accessType}}</option>
            </select>
          </div>
        </div>
        <div>
          <div class="prtfCommon prtfFields">User Note:</div>
          <div class="prtfCommon prtfUserValues">
            <input class="pfItemLongInput" type="text" placeholder="write some notes" [(ngModel)]="editedPortfolio.note" [value]="editedPortfolio.note">
          </div>
        </div>
      </div>
      <span>
        <button id="createPortfolioButton" (click)="onCreateOrEditPortfolioClicked()">{{(editedPortfolio.id == -1) ? 'Create Portfolio' : 'Save Portfolio'}}</button>
        <button class="closePopup" (click)="closeCreatePortfolioPopup()" [ngStyle]="{'display': isCreateOrEditPortfolioPopupVisible ? 'block' : 'none'}">Cancel</button>
      </span>
    </div><br>
  </div>
  <div id="resizer" (mouseover)="onMouseOverResizer('resizer')"></div>
  <div id="panelPrtfDetails">
    <div id="panelChart">Panel Chart
      <div id="pfRunResultChrt"></div>
    </div>
    <div id="resizer2" (mouseover)="onMouseOverResizer('resizer2')"></div>
    <div id="panelStatsAndPerfSpec">
      <div id="panelStats">Panel Stats<br><br>
        <div>
          Statistics as of ({{todayDate | date : 'yyyy-MM-dd'}})
          <table id="pfStatsTable">
            <tr>
              <td>PV Start Value:{{uiPrtfRunResult.startPortfolioValue | currency:'USD':'symbol':'1.0'}}</td>
              <td>PV Final Value:{{uiPrtfRunResult.endPortfolioValue | currency:'USD':'symbol':'1.0'}}</td>
              <td>TotalReturn:{{uiPrtfRunResult.totalReturn | number:'1.2-2'}}%</td>
            </tr>
            <tr>
              <td><b>CAGR:</b> {{uiPrtfRunResult.cAGR | number:'1.2-2'}}%</td>
              <td>MaxDD: {{uiPrtfRunResult.maxDD | number:'1.2-2'}}%</td>
              <td><b>SharpeRatio:</b> {{uiPrtfRunResult.sharpeRatio | number:'1.2-2'}}</td>
            </tr>
            <tr>
              <td>StDev: {{uiPrtfRunResult.stDev | number:'1.2-2'}}</td>
              <td><a href="http://en.wikipedia.org/wiki/Ulcer_index" target="_blank">Ulcer</a>: {{uiPrtfRunResult.ulcer}}</td>
              <td>Max.TradingDays in DrawDown: {{uiPrtfRunResult.tradingDays}}</td>
            </tr>
            <tr>
              <td>WinRate: {{uiPrtfRunResult.winRate | number:'1.2-2'}}%</td>
              <td>LossRate: {{uiPrtfRunResult.lossRate | number:'1.2-2'}}%</td>
              <td>Annualized <a href="http://www.redrockcapital.com/Sortino__A__Sharper__Ratio_Red_Rock_Capital.pdf" target="_blank">Sortino</a>: {{uiPrtfRunResult.sortino | nanToDash}}</td>
            </tr>
            <tr>
              <td>Turnover: {{uiPrtfRunResult.turnover}}</td>
              <td>LongShortRatio: {{uiPrtfRunResult.longShortRatio}}</td>
              <td>Fees: {{uiPrtfRunResult.fees | currency:'USD'}}</td>
            </tr>
            <tr>
              <td>Benchmark CAGR: {{uiPrtfRunResult.benchmarkCAGR}}</td>
              <td>Benchmark MaxDD: {{uiPrtfRunResult.benchmarkMaxDD}}</td>
              <td>Correlation with Benchmark: {{uiPrtfRunResult.correlationWithBenchmark}}</td>
            </tr>
            <tr>
              <td>Num of Trades: {{uiPrtfRunResult.nTrades}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div id="panelPrtfSpec">Panel PrtfSpec
        Width: {{panelPrtfSpecWidth}}
        Height: {{panelPrtfSpecHeight}}
        <div>
          <div class="prtfSpecPreviewButtons"><button id="btnPositions" [ngStyle]="{'background-color': tabPrtfSpecVisibleIdx == 1 ? 'aqua' : ''}" (click)="onClickPrtfSpecPreview(1)">Positions</button></div>
          <div class="prtfSpecPreviewButtons"><button [ngStyle]="{'background-color': tabPrtfSpecVisibleIdx == 2 ? 'aqua' : ''}" (click)="onClickPrtfSpecPreview(2)">StrategyParameters</button></div>
        </div>&nbsp;
        <div [hidden]="tabPrtfSpecVisibleIdx != 1">This is always Visible</div>
        <div [hidden]="tabPrtfSpecVisibleIdx == 1">Only for backtest</div>
      </div>
    </div>
  </div>
</div>
<div class="popup infoPopup" [ngStyle]="{'visibility': isDeleteConfirmPopupVisible ? 'visible' : 'hidden'}">Confirm Delete<br><br>
  <span class="popupMsg">Are you sure you want to permanently delete folder / portfolio "{{deletePrtfItemName}}"</span><br><br>
  <button type="button" (click)="onConfirmDeleteYesClicked()">Yes</button>&nbsp;
  <button type="button" (click)="onConfirmDeleteNoClicked()">No</button>
</div>
<div class="popup warnPopup" [ngStyle]="{'visibility': isErrorPopupVisible ? 'visible' : 'hidden'}">Error from the Server<br><br>
  <span class="popupMsg">{{errorMsgToUser}}</span><br><br>
  <button id="btnErrorOk" type="button" (click)="onErrorOkClicked()">Ok</button>
</div>