:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.4rem;
  color: rgb(32, 34, 148);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

#panelPrtfMgr {
  width: 100%;
  height: 95vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

#panelPrtfTree { // Section 1
  float: left;
  width: 30.25%;
  height: 95vh;
  background: yellow;
}

#resizer {
  float: left;
  width: .5%;
  height: 95vh;
  background-color: #9c9fa3;
  cursor: col-resize;
}

#panelPrtfDetails { // Section 2
  position: relative;
  float: right;
  width: 69.25%;
  height: 95vh;
  background-color: skyblue;
}

#panelChart {
  float: left;
  width: 100%;
  height: 44.2vh;
  background-color: #228B22;
}

#resizer2 {
  float: left;
  width: 100%;
  height: 0.8vh;
  background-color: #9c9fa3;
  cursor: row-resize;
}

#panelStatsAndPerfSpec {
  // float: right;
  width: 100%;
  height: 50vh;
  display: flex;
}

#panelStats {
  float: left;
  width: 50%;
  height: 50vh;
  background-color: antiquewhite;
  overflow: auto;
}

#panelPerfSpec {
  float: right;
  width: 50%;
  height: 50vh;
  background-color: lightpink;
  overflow: auto;
}

/* Remove default bullets */
ul, #panelPrtfTree {
  list-style-type: none;
}

.portfolioManager {
  cursor: pointer;
  user-select: none;
}

.portfolioManager::before {
  content: "\2795"; // Heavy plus sign code
  size: 2rem;
  color: black;
  display: inline-block;
  margin-right: 0.6rem;
}

.portfolioNestedView {
  display: none;
}

.active {
  display: block;
}

.portfolioManagerMinus::before {
  content: "\2796"; // Heavy Minus sign code
  color: black;
  display: inline-block;
  margin-right: 0.6rem;
  cursor: pointer;
}

.portfolioNestedView li {
  list-style: disc;
}

// .portfolioPreviewButtons {
//   display: inline-block;
//   width: 25%;
//   height: 2rem;
// }

// /* Change background color of buttons on hover */
// .portfolioPreviewButtons :hover {
//   border: .1rem solid #228B22;
//   backdrop-filter: blur(1rem);
//   transform: skewX(-10deg);
//   height: 2.1rem;
//   width: 13rem;
//   border-radius: 0.75rem .5rem 0.75rem 0;
//   position: relative;
//   justify-content: center;
//   transition: all .2s ease;
//   font: 0.5rem;
//   font-weight: 200;
//   text-shadow: 0 0 1rem #fff;
//   animation: breath2 2s .5s infinite alternate;
//   cursor: pointer;
// }

// * {
//   background: #000 !important;
//   color: #0f0 !important;
//   outline: solid #f00 1px !important;
// }