<div id="panelPrtfMgr">
  <div id="panelPrtfTree">Portfolios
    <span class="tooltipGeneral">
      <div class="tooltipText">
        Force reload Portfolios Tree
      </div>
      <span class="refreshPortfolios"><img class="refreshPortfolios" src='../assets/images/refresh64.webp' (click)="onPortfoliosRefreshClicked()"></span>
    </span>
    <app-sq-tree-view [items]="uiNestedPrtfTreeViewItems" [treeViewState]="treeViewState"></app-sq-tree-view>
    <button type="button"(click)="onCreatePrtfItemClicked()">Create Folder</button>&nbsp;
    <button type="button"(click)="onCreatePrtfItemClicked()">Create Portfolio</button>&nbsp;
    <button type="button" (click)="onDeletePrtfItemClicked()">Delete</button>
    <div class="popup infoPopup" [ngStyle]="{'display': isCreatePortfolioPopupVisible ? 'block' : 'none'}"><br>
      <label id="prtfNameLabel"><b>Name:</b>&nbsp;</label>
      <input id="prtfNameInput" type="text" placeholder="Enter Portfolio Name" name="portfolio" [(ngModel)]="createPrtfItemName"><br><br>
      <span>
        <button (click)="onCreateFolderClicked()"> Create New Folder</button>
        <button id="closePortfolioPopup" (click)="onClosePortfolioClicked()" [ngStyle]="{'display': isCreatePortfolioPopupVisible ? 'block' : 'none'}">Dismiss</button>
      </span>
    </div><br>
  </div>
  <div id="resizer" (mouseover)="onMouseOverResizer('resizer')"></div>
  <div id="panelPrtfDetails">
    <div id="panelChart">Panel Chart
      Width: {{panelPrtfChrtWidth}}
      Height: {{panelPrtfChrtHeight}}
    </div>
    <div id="resizer2" (mouseover)="onMouseOverResizer('resizer2')"></div>
    <div id="panelStatsAndPerfSpec">
      <div id="panelStats">Panel Stats
        Width: {{panelStatsWidth}}
        Height: {{panelStatsHeight}}
      </div>
      <div id="panelPrtfSpec">Panel PrtfSpec
        Width: {{panelPrtfSpecWidth}}
        Height: {{panelPrtfSpecHeight}}
        <div>
          <div class="prtfSpecPreviewButtons"><button [ngStyle]="{'background-color': tabPrtfSpecVisibleIdx == 1 ? 'aqua' : ''}" (click)="onClickPrtfSpecPreview(1)">Positions</button></div>
          <div class="prtfSpecPreviewButtons"><button [ngStyle]="{'background-color': tabPrtfSpecVisibleIdx == 2 ? 'aqua' : ''}" (click)="onClickPrtfSpecPreview(2)">StrategyParameters</button></div>
        </div>
        <div [hidden]="tabPrtfSpecVisibleIdx != 1" id="positions">This is always Visible</div>
        <div [hidden]="tabPrtfSpecVisibleIdx == 1" id="StrategyParameters">Only for backtest</div>
      </div>
    </div>
  </div>
</div>
<div class="popup infoPopup" [ngStyle]="{'visibility': isDeleteConfirmPopupVisible ? 'visible' : 'hidden'}">Confirm Delete<br><br>
    <span class="popupMsg">Are you sure you want to permanently delete folder / portfolio "{{deletePrtfItemName}}"</span><br><br>
    <button type="button" (click)="onConfirmDeleteYesClicked()">Yes</button>&nbsp;
    <button type="button" (click)="onConfirmDeleteNoClicked()">No</button>
</div>
<div class="popup warnPopup" [ngStyle]="{'visibility': isErrorPopupVisible ? 'visible' : 'hidden'}">Error from the Server<br><br>
    <span class="popupMsg">{{errorMsgToUser}}</span><br><br>
    <button type="button" (click)="onErrorOkClicked()">Ok</button>
</div>