html {
  font-size: 62.5%;
} /* set 1.0rem = 10px. revert to root font size of 10px. it allows to set font-size in rem, that corresponds to px */

@font-face {
  font-family: PublicoText-Roman-Web;
  src: url("https://assets.bwbx.io/s3/fontservice/fonts/PublicoText-Italic-Web-b04a2274cf.woff2");
  font-style: italic, oblique;
}
@font-face {
  font-family: PublicoText-Roman-Web;
  src: url("https://assets.bwbx.io/s3/fontservice/fonts/PublicoText-Bold-Web-3c5266a48e.woff2");
  font-weight: bold;
}
@font-face {
  font-family: PublicoText-Roman-Web;
  src: url("https://assets.bwbx.io/s3/fontservice/fonts/PublicoText-Roman-Web-bfa063ee27.woff2");
}

@font-face {
  font-family: PublicoHeadline-Bold-Web;
  src: url("https://assets.bwbx.io/s3/fontservice/fonts/PublicoHeadline-Bold-Web-e816328678.woff2");
}

body {
  margin: 0; /* originally, there is a 8px margin  */
  overflow-y: scroll; /* enable y scrollbar */
  overflow-x: hidden; /* disable x scrollbar */
  font-size: 1.6rem; /* = 16px. Wiki uses 14px. Ft.com uses size 18px fonts. CNBC is using 18 and 14. Bloomberg uses Georgia 18px (for text). But 18px is too big for condensing a lot of info to the page. 16px should be our default too for text and header of tables. For numbers in cells in table we should targer 14px. 20px for section headers. 24px for webpage main title. */
  font-family: PublicoText-Roman-Web, Georgia, Cambria, "Times New Roman", Times,
    serif;
  text-align: center;
}

.gradientBckgrnd {
  background: linear-gradient(
    to right,
    #3080c7 5%,
    #5b9dd7 10%,
    #d5f5f6 30%,
    #d5f5f6 70%,
    #ace16b 90%,
    #91d73a 95%
  ); /* new light */
}

h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  color: blue;
  font-size: 150%;
}
h2 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: gainsboro;
  font-size: 125%;
}
.h3 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: mediumblue;
  font-size: 110%;
  text-align: center;
}

.center {
  text-align: center;
  border: 0;
  font-size: 1.4rem;
}
p.center {
  margin-top: 0;
}
span.center {
  margin: 0;
}

.button {
  display: inline-block;
  border: none;
  border-radius: 1.2rem;
  cursor: pointer;
  height: 8rem;
  width: 16rem;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  outline: none;
}
.button:hover {
  box-shadow: 0 1.2rem 1.6rem 0 rgba(0, 0, 0, 0.24),
    0 1.7rem 5rem 0 rgba(0, 0, 0, 0.19);
}

.button:active {
  transform: translateY(0.4rem);
}

table.currData {
  width: 80rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.3rem;
  border-collapse: collapse;
  border: 0.1rem solid black;
}

.currData td {
  width: 5%;
  border: 0.1rem solid black;
}

.currData td:first-child {
  min-width: 12rem;
  max-width: 12rem;
  overflow: hidden;
}

#VIXimage {
  background: url("../assets/images/vix.webp");
  background-size: cover;
}

#OILimage {
  background: url("../assets/images/crude_oil.webp");
  background-size: cover;
}

#GASimage {
  background: url("../assets/images/natural_gas.webp");
  background-size: cover;
}

#chart1 {
  width: 80rem;
  height: 40rem;
}

#tooltip {
  display: none;
  position: absolute;
  background-color: lightgray;
  min-width: 20rem;
  max-width: 200rem;
  font-size: 1.2rem;
  background-color: dodgerblue;
  color: gainsboro;
  text-align: center;
  opacity: 0.92;
  padding: 0.5rem 0;
  border-radius: 0.6rem;
}
