<h1>Sandbox</h1>
<strong>Counter</strong>
<p>This is a simple example of an Angular component.</p>

<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>
<hr>
<p>Angular Data Bindings: interpolation, property, event, ngModel</p>

<p>1.Only <b>OnInput</b> event (fires at every keystroke):<br>&nbsp;
  A. Event binding (without ngModel):
  <input class="inputCommon" type="text" [value]="m_ngTest1" oninput="nativeJsOnInputCb()" (input)="angularInputCb()"><br>&nbsp;
  B. Event binding (with ngModel):
  <input class="inputCommon" type="text" [ngModel]="m_ngTest2" oninput="nativeJsOnInputCb()" (input)="angularInputCb()" (ngModelChange)="angularNgModelChangeCb()">
</p>
<p>2. With <b>OnChange</b> event (fires at lost focus):<br>&nbsp;
  A. Event binding (without ngModel):
  <input class="inputCommon" type="text" [value]="m_ngTest1" oninput="nativeJsOnInputCb()" onchange="nativeJsOnChangeCb()" (input)="angularInputCb()" (change)="angularChangeCb()"><br>&nbsp;
  B. Event binding (with ngModel):
  <input class="inputCommon" type="text" [ngModel]="m_ngTest2" oninput="nativeJsOnInputCb()" onchange="nativeJsOnChangeCb()" (input)="angularInputCb()" (change)="angularChangeCb()" (ngModelChange)="angularNgModelChangeCb()">
</p>
