html * {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

body {
  text-align: center;
}

h1 {
  text-align: center;
  color: blue;
  font-size: 150%;
}

#titleCont {
  color: mediumblue;
  font-size: 110%;
  text-align: center;
}

.marginCommon {
  margin: 0.5rem;
}