<div class="mainDiv1">
  <h4>Portfolio Viewer</h4>
  PortfolioId: {{m_portfolioId}}
  <div>PortfolioName: {{m_portfolio?.name}}</div>
  <button [ngClass]="{'activeTabItem':m_activeTab == 'Positions'}" (click)="onActiveTabCicked('Positions')">Positions</button>&nbsp;<button [ngClass]="{'activeTabItem':m_activeTab == 'Portfolio Report'}" (click)="onActiveTabCicked('Portfolio Report')">Portfolio Report</button>&nbsp;<button [ngClass]="{'activeTabItem':m_activeTab == 'Trades'}" (click)="onActiveTabCicked('Trades')">Trades*</button>&nbsp;<button [ngClass]="{'activeTabItem':m_activeTab == 'Portfolio Performance Accumulator'}" (click)="onActiveTabCicked('Portfolio Performance Accumulator')">Portfolio Performance Accumulator</button>
  <div [hidden]="m_activeTab != 'Positions'">&nbsp;
    <header>Historical Positions EndDate: <input type="Date" [(ngModel)]="m_histPosEndDate" (change)="onHistPeriodChangeClicked()"></header>&nbsp;
    <table class="tableCommon">
      <thead>
        <tr>
          <th>SqTicker</th>
          <th>Quantity</th>
          <th>AvgPrice</th>
          <th>Price</th>
          <th>HoldingCost</th>
          <th>HoldingValue</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of m_uiPrtfRunResult.prtfPosValues">
          <td>{{item.sqTicker}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.avgPrice | number:'1.2-2'}}</td>
          <td>{{item.price | number:'1.2-2'}}</td>
          <td>{{item.holdingCost | number:'1.0-0'}}</td>
          <td>{{item.holdingValue | number:'1.0-0'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div [hidden]="m_activeTab != 'Portfolio Report'">
    <p>Portfolio Report</p>
    <div>
      <table id="pfStatsTable">
        <tr>
          <td>PV Start Value:{{m_uiPrtfRunResult.startPortfolioValue | currency:'USD':'symbol':'1.0'}}</td>
          <td>PV Final Value:{{m_uiPrtfRunResult.endPortfolioValue | currency:'USD':'symbol':'1.0'}}</td>
          <td>TotalReturn:{{m_uiPrtfRunResult.totalReturn | number:'1.2-2'}}%</td>
        </tr>
        <tr>
          <td><b>CAGR:</b> {{m_uiPrtfRunResult.cAGR | number:'1.2-2'}}%</td>
          <td><b>MaxDD:</b> {{m_uiPrtfRunResult.maxDD | number:'1.2-2'}}%</td>
          <td><b>Sharpe:</b> {{m_uiPrtfRunResult.sharpe | number:'1.2-2'}}</td>
        </tr>
        <tr>
          <td><b>CagrSharpe:</b> {{m_uiPrtfRunResult.cagrSharpe | number:'1.2-2'}}</td>
          <td>StDev: {{m_uiPrtfRunResult.stDev | number:'1.2-2'}}</td>
          <td>Max.TradingDays in DD: {{m_uiPrtfRunResult.tradingDays}}</td>
        </tr>
      </table>
    </div>
    <div id="pfRunResultChrt"></div> <!-- portfolio run result chart  -->
  </div>
  <div [hidden]="m_activeTab != 'Trades'"><br>
    <span>
      <span (click)="toggleTradeSectionVisibility()" class="toggleTradesSection"><span id="toggleSign" [ngStyle]="{'color': m_isEditedTradeSectionVisible ? 'green' : 'red'}">{{m_isEditedTradeSectionVisible ? '&#45;' : '&#43;'}}</span> Edit trades...</span>&nbsp;
      <button (click)="onClickSelectAllOrDeselectAll(true)" class="btnCommon">Select All</button>&nbsp;
      <button (click)="onClickSelectAllOrDeselectAll(false)" class="btnCommon">DeSelect All</button>&nbsp;
      <button (click)="onClickCopyToClipboard()" class="btnCommon">Copy to Clipboard (all/selected)</button>&nbsp;
      <button disabled class="btnCommon">Create from Clipboard</button>&nbsp;
    </span><br>
    <div id="tradesSection" *ngIf="m_isEditedTradeSectionVisible">
      <div id="tradesContainer">
        <span class="tradesCommon">
          <ng-container >
            <svg id="saveIcon" version="1.0" xmlns="http://www.w3.org/2000/svg" width="64" height="18" viewBox="0 0 64 64" preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.0,64) scale(0.1,-0.1)" [ngStyle]="{'fill': m_isEditedTradeDirty ? '#EE4B2B' : '#0096FF'}" stroke="none">
                    <path d="M20 620 c-19 -19 -20 -33 -20 -300 0 -267 1 -281 20 -300 19 -19 33 -20 300 -20 267 0 281 1 300 20 19 19 20 33 20 258 l0 238 -63 62 -63 62 -237 0 c-224 0 -238 -1 -257 -20z m100 -107 c0 -136 -5 -133 182 -133 84 0 158 5 169 10 17 10 19 22 19 115 0 58 4 105 8 105 4 0 31 -24 60 -53 l52 -53 -2
                            -235 -3 -234 -27 -3 -28 -3 0 145 0 146 -230 0 -230 0 0 -146 0 -145 -27 3 -28 3 -3 275 c-1 151 0 280 3 287 2 8 21 13 45 13 l40 0 0 -97z m350 10 c0 -49 -4 -93 -8 -100 -12 -19 -301 -20 -313 -2 -5 8 -9 53 -9 102 l0 87 165 0 165 0 0 -87z m60 -363 l0 -130 -210 0 -210 0 0 130 0 130 210 0 210 0 0 -130z"/>
                    <path d="M350 510 l0 -70 40 0 40 0 0 70 0 70 -40 0 -40 0 0 -70z m60 0 c0 -29 -4 -40 -15 -40 -11 0 -15 11 -15 40 0 29 4 40 15 40 11 0 15 -11 15 -40z"/>
                </g>
            </svg>
          </ng-container>
        <!-- Add Transaction and clear fields will be enabled once the feature is ready -->
        <button (click)="onClickInsertOrUpdateTrade(true)">Insert (new)</button>&nbsp;
        <button (click)="onClickInsertOrUpdateTrade(false)" [disabled]="m_editedTrade.id == -1">Update (existing)</button>&nbsp;
        <button (click)="onClickDeleteTrade()" [disabled]="m_editedTrade.id == -1">Delete</button>&nbsp;
        <button (click)="onClickClearFields()">Clear Fields</button>&nbsp;<br>
          <input name="assetType" type="radio" [(ngModel)]="m_editedTrade.assetType" [value]="m_enumAssetType.CurrencyCash">Cash &nbsp;
          <input name="assetType" type="radio" [(ngModel)]="m_editedTrade.assetType" [value]="m_enumAssetType.Stock">Stock &nbsp;
          <input name="assetType" type="radio" [(ngModel)]="m_editedTrade.assetType" [value]="m_enumAssetType.Option">Option &nbsp;
          <input name="assetType" type="radio" [(ngModel)]="m_editedTrade.assetType" [value]="m_enumAssetType.Futures">Futures&nbsp;
          TradeId: <input class="inputTextboxWidth" type="number" [(ngModel)]="m_editedTrade.id" (input)="onTradeInputChange()"><br>
          TradeAction:
            <div class="selectionDropDown">
              <input class="highlightInputDropDown" type="text" [value]="m_enumTradeAction[m_editedTrade.action]" (input)="onTradeInputChange()" disabled>
              <div class="listDropDown">
                <ng-container *ngFor="let action of m_enumTradeAction | keyvalue">
                  <ng-container *ngIf="(action.value | typeof) === 'string'">
                    <option class="optionDropDown" [value]="action.value" (click)="onTradeActionSelectionClicked(action.value)">{{ action.value }}</option>
                  </ng-container>
                </ng-container>
            </div>
          </div>&nbsp;
          <!-- The user input for options and futures selection has been disabled because the value is determined through concatenation using the underlying symbol, expiration date, put/call designation, and strike price for options, while for futures, it relies on the underlying symbol, expiration date with the addition of "+M," and the multiplier -->
          Symbol: <input type="text" [(ngModel)]="m_editedTrade.symbol" [value]="getEditedTradeSymbol()" oninput="this.value = this.value.toUpperCase()" (input)="onTradeInputChange()" [disabled]="(m_editedTrade.assetType == m_enumAssetType.Option || m_editedTrade.assetType == m_enumAssetType.Futures)"><br>
          <div class="fixedHeightDiv" [hidden]="(m_editedTrade.assetType != m_enumAssetType.Option) && (m_editedTrade.assetType != m_enumAssetType.Futures)">
            UnderlyingSym: <input class="inputTextboxWidth" type="text" [(ngModel)]="m_editedTrade.underlyingSymbol" [value]="m_editedTrade.underlyingSymbol" oninput="this.value = this.value.toUpperCase()" (input)="onTradeInputChange()">
            <ng-container *ngIf="m_editedTrade.assetType == m_enumAssetType.Option">
              <input name="optionType" type="radio" value="P" [(ngModel)]="m_editedTradeOptionFields.optionType">Put
              <input name="optionType" type="radio" value="C" [(ngModel)]="m_editedTradeOptionFields.optionType">Call &nbsp;
              Expiry: <input type="date" [(ngModel)]="m_editedTradeOptionFields.dateExpiry">
              Strike: <input class="inputTextboxWidth" type="number" [(ngModel)]="m_editedTradeOptionFields.strikePrice"><br>
            </ng-container>
            <ng-container *ngIf="m_editedTrade.assetType == m_enumAssetType.Futures">
              Expiry: <input class="inputTextboxWidth" type="date" [(ngModel)]="m_editedTradeFutureFields.dateExpiry">
              Multiplier: <input class="inputTextboxWidth" type="number" [(ngModel)]="m_editedTradeFutureFields.multiplier"><br>
            </ng-container>
          </div>
        </span>
        <span class="tradesCommon">
          Date: <input type="date" [ngModel]="m_editedTrade.time | date : 'yyyy-MM-dd'" (ngModelChange)="m_editedTrade.time=$event" [value]="m_editedTrade.time | date : 'yyyy-MM-dd'" (input)="onTradeInputChange()"><br>
          <!-- SetOpen and SetClose are directly linked with TradeAction(Buy/Sell), To get proper setOpen and setClose timings please select tradeAction first -->
          UTC Time: <button (click)="onClickSetOpenOrClose('open')">setOpen</button>&nbsp;
                <input type="time" [ngModel]="m_editedTrade.time | date : 'HH:mm'" (ngModelChange)="setTradeTime($event)" [value]="m_editedTrade.time | date : 'HH:mm'">&nbsp;
                <button (click)="onClickSetOpenOrClose('close')">setClose</button><br>
          Price: <input class="inputTextboxWidth" type="number" [ngModel]="m_editedTrade.price | nanToDash" (ngModelChange)="m_editedTrade.price=$event" (input)="onTradeInputChange()">&nbsp;
          <div class="selectionDropDown">
            <input class="highlightInputDropDown" type="text" placeholder="Enter CurrencyId" [value]="m_enumCurrencyId[m_editedTrade.currency]" (input)="onTradeInputChange()" disabled>
            <div class="listDropDown">
              <ng-container *ngFor="let action of m_enumCurrencyId | keyvalue">
                <ng-container *ngIf="(action.value | typeof) === 'string'">
                  <option class="optionDropDown" [value]="action.value" (click)="onCurrencyTypeSelectionClicked(action.value)">{{ action.value }}</option>
                </ng-container>
              </ng-container>
            </div>
          </div><br>
          Quantity: <input class="inputTextboxWidth" type="number" [ngModel]="m_editedTrade.quantity | nanToDash" (ngModelChange)="m_editedTrade.quantity=$event" (input)="onTradeInputChange()">&nbsp;
          TotalValue: <input class="inputTextboxWidth" type="number" value="{{m_editedTrade.price * m_editedTrade.quantity}}" (input)="onTradeInputChange()"><br>
        </span>
      </div>
    </div>&nbsp;
    <table class="tableCommon">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Currency</th>
          <th>TradeAction</th>
          <th>AssetType</th>
          <th>Date</th>
          <th>ExchangeId</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of m_trades">
        <tr (click)="onClickSelectedTradeItem(item, $event)" [ngClass]="{'tradedRowSelected': item.isSelected}">
          <td>{{item.underlyingSymbol}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.price | number:'1.2-2'}}</td>
          <td>{{m_enumCurrencyId[item.currency] == 'Unknown' ? 'USD' : m_enumCurrencyId[item.currency]}}</td> <!-- Displaying the currencyId as 'USD' in the UI, while 'USD' is stored as 'unknown' in the database. -->
          <td>{{m_enumTradeAction[item.action]}}</td>
          <td>{{m_enumAssetType[item.assetType]}}</td>
          <td>{{item.time | date : 'yyyy-MM-dd'}}</td>
          <td>{{m_enumExchangeId[item.exchangeId]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div [hidden]="m_activeTab != 'Portfolio Performance Accumulator'">
    <p>Portfolio Performance Accumulator</p>
  </div>
</div>
<div id="copyToClipboardDialog" *ngIf="m_isCopyToClipboardDialogVisible">All/Selected rows copied To Clipboard
  <div id="copyToClipboardDialogClosetBtn">
    <button type="button" (click)="onCopyDialogCloseClicked()">Close</button>
  </div>
</div>