.activeTabItem {
  background-color: #FFAE42;
  border-radius: 0.2rem;
}

//Portfolio Positions table styling
table {
  width: 100%;
  border-collapse: collapse;
  align-items: stretch;
  white-space: nowrap; // nowrap auto adjust the text with multiple lined to a single line
}

thead {
  font-weight: bold;
  cursor: pointer;
  background-image: linear-gradient(90deg, #8dc7fa 3%, #9dcef8 7%, #d5f5f6 25%, #d5f5f6 55%, #ace16b 85%, #91d73a 90%);
}

.tableCommon td, th {
  padding: 0rem;
  border-style: ridge;
  border-width: 0.05rem;
  border-color: #4e95f4;
  width: 7rem;
  text-align: center;
}

.tableCommon tr:nth-child(even) {
  background-color: #9dcef8;
}

#pfStatsTable {
  border-collapse: collapse;
  border: solid black;
  border-width: 1px 0px 1px 0;
  width: 98%;
  margin-top: 0.3rem;
}

#pfRunResultChrt {
  margin-top: 0.1rem;
}

#tradesSection {
  padding: 0.05rem 0 0.05rem 0;
  border: 0.05rem solid black;
  margin-top: 0.3rem;
}

.tradedRowSelected {
  background-color: #D3D3D3;
  cursor: pointer;
}

#saveIcon {
  margin-top: 0.15rem;
}

#tradesContainer {
  display: flex; // when we have more columns the default block value would consider a wide space, instead if we use flex its automatically establishes a flexible container and fits all the columns.
  padding-bottom: 0.1rem;
}

.tradesCommon {
  width: 50%;
}

#copyToClipboardDialog {
  display: block;
  position: fixed;
  z-index: 1;
  text-align: center;
  left: 20%;
  top: 20%;
  bottom: 30%;
  width: 17rem;
  height: 2.5rem;
  color: rgb(32, 34, 148);
  background-color: #FFA500;
  border: .05rem solid #FF5F1F;
  border-radius: 0.5rem;
  padding-top: 0.3rem;
}

#copyToClipboardDialogClosetBtn {
  display: inline;
  width: 2rem;
}

.selectionDropDown {
  position: relative;
  display: inline-block;
  height: 0.5rem;
}

.listDropDown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 5rem;
  z-index: 1;
}

.listDropDown option {
  font-size: medium;
  color: black;
  padding: 0rem;
}

.listDropDown option:hover {
  background-color: #ddd;
}

.selectionDropDown:hover .listDropDown {
  display: block;
}

.selectionDropDown:hover .highlightInputDropDown {
  background-color: rgba(255, 255, 128, 0.5);
}

.highlightInputDropDown {
  width: 5rem;
  height: 0.8rem;
  border: 0.02rem solid black;
}

.optionDropDown {
  border: 0.01rem solid lightblue;
  cursor: pointer;
}

.fixedHeightDiv {
  height: 1.3rem;
}

#toggleSign {
  color: #32CD32;
  font-size: 1.4rem;
  font-weight: bolder;
}

.toggleTradesSection {
  display: inline-block; // Renders the element as an inline-level block container, allowing it to have width, height, and horizontal layout control
  background-color: #D3D3D3;
  width: 7.5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.inputTextboxWidth {
  width: 5rem;
}

.activeSortTableHeader {
  background-color: #FFAE42;
  font-size: 1rem;
}

/* remove the up/down arrows from input tag */
.nonUpAndDownArrowsInput::-webkit-outer-spin-button, .nonUpAndDownArrowsInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#dateInputContainer {
  display: flex;
  align-items: center;
}

#nextOrPrevDateButtonContainer {
  display: flex;
  flex-direction: column;
}

.nextOrPrevDateBtn {
  height: 0.575rem;
  width: 1.25rem;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; /* Vertically center */
  justify-content: center; /* Horizontally center */
  font-size: 0.625rem;
}

#seasonalityText {
  margin: 0.5rem 0 0 0;
}

.positiveVal {
  color: #228B22;
}

.negativeVal {
  color: #FF0000;
}

.noReturns { // Applied when the seasonality returns value is NaN
  color: #070707;
}

#inputTradesStr {
  width: 50rem;
  height: 20rem;
}

#userWarnId {
  color: #FF0000;
}