<div class="mainDiv1">
  <h4>Portfolio Viewer</h4>
  PortfolioId: {{m_portfolioId}}
  <div>PortfolioName: {{m_portfolio?.name}}</div>
  <button [ngClass]="{'activeTabItem':m_activeTab == 'Positions'}" (click)="onActiveTabCicked('Positions')">Positions</button>&nbsp;<button [ngClass]="{'activeTabItem':m_activeTab == 'Portfolio Report'}" (click)="onActiveTabCicked('Portfolio Report')">Portfolio Report</button>&nbsp;<button [ngClass]="{'activeTabItem':m_activeTab == 'Trades'}" (click)="onActiveTabCicked('Trades')">Trades*</button>&nbsp;<button [ngClass]="{'activeTabItem':m_activeTab == 'Portfolio Performance Accumulator'}" (click)="onActiveTabCicked('Portfolio Performance Accumulator')">Portfolio Performance Accumulator</button>
  <div *ngIf="m_activeTab == 'Positions'">&nbsp;
    <header>Historical Positions EndDate: <input type="Date" [(ngModel)]="m_histPosEndDate" (change)="onHistPeriodChangeClicked()"></header>&nbsp;
    <table id="pfPossTable">
      <thead>
        <tr>
          <th>SqTicker</th>
          <th>Quantity</th>
          <th>AvgPrice</th>
          <th>Price</th>
          <th>HoldingCost</th>
          <th>HoldingValue</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of m_uiPrtfRunResult.prtfPosValues">
          <td>{{item.sqTicker}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.avgPrice | number:'1.2-2'}}</td>
          <td>{{item.price | number:'1.2-2'}}</td>
          <td>{{item.holdingCost | number:'1.0-0'}}</td>
          <td>{{item.holdingValue | number:'1.0-0'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="m_activeTab == 'Portfolio Report'">
    <p>Portfolio Report</p>
    <div>
      <table id="pfStatsTable">
        <tr>
          <td>PV Start Value:{{m_uiPrtfRunResult.startPortfolioValue | currency:'USD':'symbol':'1.0'}}</td>
          <td>PV Final Value:{{m_uiPrtfRunResult.endPortfolioValue | currency:'USD':'symbol':'1.0'}}</td>
          <td>TotalReturn:{{m_uiPrtfRunResult.totalReturn | number:'1.2-2'}}%</td>
        </tr>
        <tr>
          <td><b>CAGR:</b> {{m_uiPrtfRunResult.cAGR | number:'1.2-2'}}%</td>
          <td><b>MaxDD:</b> {{m_uiPrtfRunResult.maxDD | number:'1.2-2'}}%</td>
          <td><b>Sharpe:</b> {{m_uiPrtfRunResult.sharpe | number:'1.2-2'}}</td>
        </tr>
        <tr>
          <td><b>CagrSharpe:</b> {{m_uiPrtfRunResult.cagrSharpe | number:'1.2-2'}}</td>
          <td>StDev: {{m_uiPrtfRunResult.stDev | number:'1.2-2'}}</td>
          <td>Max.TradingDays in DD: {{m_uiPrtfRunResult.tradingDays}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div *ngIf="m_activeTab == 'Trades'">
    <p>Trades</p>
  </div>
  <div *ngIf="m_activeTab == 'Portfolio Performance Accumulator'">
    <p>Portfolio Performance Accumulator</p>
  </div>
</div>