<div id="toolbarId" class="toolbar" role="banner">
  <img id="toolBarImg1" alt="SQ Logo" src="../assets/images/favicon_Home64x64Resonly.ico" />
  Dashboard: {{ activeTool }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="toolbarMenu" (click)="onClickToolSelection()" (clickOutside)="closeDropdownMenu('Tools')">
    <div [className]="isToolSelectionVisible ? 'leftItemselected selectedClick' : 'leftItem'">
      Tools
      <svg class="material-icons2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 -8 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
      <div class="dropdown_3columns">
        <div class="col_1">
          <ul>
            <h3>Tools</h3>
            <ul>
              <!-- onChangeActiveTool() disabled reloading URL. If it doesn't work in PROD, remove href. If still not work, rewrite to not A-tag, but Div, with underline.  https://stackoverflow.com/questions/13955667/disabled-href-tag -->
              <li><a href="#" (click)="onChangeActiveTool('BrAccViewer')">BrAccViewer</a></li>
              <li><a href="#" (click)="onChangeActiveTool('PortfolioManager')">PortfolioManager</a></li>
              <li><a href="#" (click)="onChangeActiveTool('MarketHealth')">MarketHealth</a></li>
              <li><a href="#" (click)="onChangeActiveTool('CatalystSniffer')">CatalystSniffer</a></li>
              <li><a href="#" (click)="onChangeActiveTool('QuickfolioNews')">QuickfolioNews</a></li>
            </ul>
          </ul>
        </div>
        <div class="col_1">
          <ul>
            <h3>Developer</h3>
            <ul>
              <li><a href="#" (click)="onChangeActiveTool('TooltipSandpit')">TooltipSandpit</a></li>
            </ul>
          </ul>
        </div>
        <div class="col_1">
          <ul>
            <h3>Docs</h3>
            <ul>
              <li><a href="#" (click)="onChangeActiveTool('Docs-WhatIsNew')">What is new?</a></li>
              <li><a href="#" (click)="onChangeActiveTool('Docs-GetStarted')">Get Started</a></li>
              <li><a href="#" (click)="onChangeActiveTool('Docs-Tutorial')">Tutorial</a></li>
            </ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="toolbarMenu menu_right" (click)="onClickUserSelection()" (clickOutside)="closeDropdownMenu('User')">
    <div [className]="isUserSelectionVisible ? 'rightItemselected selectedClick' : 'rightItem'">
      <span id="userEmailSpan">{{ _user.email }}</span>
      <svg class="material-icons2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 -8 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
      <div class="dropdown_1column align_right">
        <div class="col_1">
          <ul class="simple">
            <li><a href="#">Profile</a></li>
            <li><a href="#" (click)="openSettings()">Settings</a></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="sqDiagnostics" (mouseenter)="mouseEnter('sqDiagnostics')">
    <!-- Wifi image *.WebP (but ICO is not) blinks in DEV, when data from server (email) arrives. Ignore it. In deployed PROD there is no blinking, the DOM tree is not rebuilt. -->
    <img id="wifiImage" width="30" alt="Wifi" title="{{sqDiagnosticsMsg}}" [src]="isSrvConnectionAlive ? '../assets/images/wifi_vslow_30pct_s.avif' : '../assets/images/wifi_notconnected_vslow_30pct_s.avif'" />
  </div>
</div>

<div id="toolContainerId" class="toolContainer">
  <app-bracc-viewer [hidden]="!(activeTool=='BrAccViewer')" [_parentWsConnection]="_socket"></app-bracc-viewer>
  <app-portfolio-manager [hidden]="!(activeTool=='PortfolioManager')" [_parentWsConnection]="_socket" [_mainUser]="_user"></app-portfolio-manager>
  <app-market-health [hidden]="!(activeTool=='MarketHealth')" [_parentWsConnection]="_socket"></app-market-health>
  <app-catalyst-sniffer [hidden]="!(activeTool=='CatalystSniffer')"></app-catalyst-sniffer>
  <app-quickfolio-news [hidden]="!(activeTool=='QuickfolioNews')" [_parentWsConnection]="_socket"></app-quickfolio-news>
  <app-tooltip-sandpit [hidden]="!(activeTool=='TooltipSandpit')"></app-tooltip-sandpit>
  <app-docs-what-is-new [hidden]="!(activeTool=='Docs-WhatIsNew')" [_parentActiveTool]="activeTool"></app-docs-what-is-new>
  <app-docs-get-started [hidden]="!(activeTool=='Docs-GetStarted')" [_parentActiveTool]="activeTool"></app-docs-get-started>
  <app-docs-tutorial [hidden]="!(activeTool=='Docs-Tutorial')" [_parentActiveTool]="activeTool"></app-docs-tutorial>
</div>

<settings-dialog (parentChangeThemeEvent)="onSetTheme($event)"></settings-dialog>

<div id="manyDshbrdClientsDialog" [ngStyle]="{'display': isDshbrdOpenManyTimesDialogVisible ? 'block' : 'none'}">
  <div class="manyDshbrdClientsDialog-content">
    <p>"MarketDashboard is open in more than one tab or browser. This slows down both client and server. <br>
      <span class="manyDshbrdClntDialogSuggestion">Suggestion: Close this browser tabpage and find the other MarketDashboard."</span>
    </p>
  </div>
  <div class="dshbrdDialogButtons">
    <button type="button" (click)="onDshbrdOpenedManyTimesContinueClicked()">Continue this tab</button>
  </div>
  <div class="dshbrdDialogButtons">
    <button type="button" (click)="onDshbrdOpenedManyTimesCloseClicked()">Close this tab</button>
  </div>
</div>
<div>
  windowWidth: {{ windowWidth }} <br>
  windowHeight: {{ windowHeight }}
</div>
<router-outlet></router-outlet>