<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">SqChatGPT</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }" [ngClass]="{'navbarItem':activeTab == 'Home'}" (click)="onNavbarItemCicked('Home')">
            <a class="nav-link text-light" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" [ngClass]="{'navbarItem':activeTab == 'Counter'}" (click)="onNavbarItemCicked('Counter')">
            <a class="nav-link text-light" [routerLink]="['/counter']">Sandbox (Counter)</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" [ngClass]="{'navbarItem':activeTab == 'Fetch'}" (click)="onNavbarItemCicked('Fetch')">
            <a class="nav-link text-light" [routerLink]="['/fetch-data']">Fetch data</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" [ngClass]="{'navbarItem':activeTab == 'Chat'}" (click)="onNavbarItemCicked('Chat')">
            <a class="nav-link text-light" [routerLink]="['/gpt-chat']">GPT-chat</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" [ngClass]="{'navbarItem':activeTab == 'Scan'}" (click)="onNavbarItemCicked('Scan')">
            <a class="nav-link text-light" [routerLink]="['/gpt-scan']">GPT-scan</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
