#llmContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: dodgerblue;
  border-radius: .5rem;
  height: 2rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.llmBtnCommon button{
  margin-left: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: .5rem;
}

.activeTab {
  background-color: #FFAE42;
}

#manyLlmAssistClientsDialog {
  display: block;
  position: fixed;
  z-index: 1;
  text-align: center;
  left: 30%;
  top: 40%;
  width: 45rem;
  height: 7rem;
  overflow: auto;
  color: rgb(32, 34, 148);
  background-color: #FFA500;
  border: .3rem solid #FF5F1F;
  border-radius: 1rem;
  opacity: 0;
}

@keyframes dialogFadein {
  0% { opacity: 0; }
  100% { opacity: 0.95; }
}

.manyLlmAssistClientsDialog-content {
  margin: auto;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: 42rem;
}

.manyLlmAssistClntDialogSuggestion {
  font-weight: bold;
  font-size: 1rem;
}

.llmAssistDialogButtons :hover {
  border: .1rem solid #228B22;
  backdrop-filter: blur(1rem);
  transform: skewX(-10deg);
  height: 1.5rem;
  width: 10rem;
  border-radius: 1rem .5rem 1rem 0;
  position: relative;
  justify-content: center;
  transition: all .2s ease;
  font: 1rem;
  font-weight: 200;
  text-shadow: 0 0 1rem #fff;
  animation: breath2 2s .5s infinite alternate;
  cursor: pointer;
}

.llmAssistDialogButtons {
  display: inline-block;
  width: 22%;
}