<div id="llmContainer">
    <p>LlmAssistant</p>
    <div class="llmBtnCommon">
      <button [ngClass]="{'activeTab':m_activeTab == 'Chat'}" (click)="onClickActiveTab('Chat')">Chat</button>
      <button [ngClass]="{'activeTab':m_activeTab == 'BasicChat'}" (click)="onClickActiveTab('BasicChat')">BasicChat</button>
      <button [ngClass]="{'activeTab':m_activeTab == 'PromptAssistant'}" (click)="onClickActiveTab('PromptAssistant')">PromptAssistant</button>
      <button [ngClass]="{'activeTab':m_activeTab == 'Scan'}" (click)="onClickActiveTab('Scan')">Scan</button>
    </div>
</div>
<app-llm-chat [hidden]="(m_activeTab != 'Chat')" [m_parentWsConnection]="m_socket"></app-llm-chat>
<app-llm-basic-chat [hidden]="(m_activeTab != 'BasicChat')" [m_parentWsConnection]="m_socket"></app-llm-basic-chat>
<app-llm-scan [hidden]="(m_activeTab != 'Scan')" [m_parentWsConnection]="m_socket"></app-llm-scan>
<app-llm-prompt [hidden]="(m_activeTab != 'PromptAssistant')" [m_parentWsConnection]="m_socket"></app-llm-prompt>
