// Table stylings
.gptScanPriceData {
  overflow: auto;
  display: flex;
  align-items: stretch;
  white-space: nowrap; // nowrap auto adjust the text with multiple lined to a single line
}

.gptScanPriceData table td, th {
  padding: 0rem;
  border-style: ridge;
  border-width: 0.1rem;
  border-color: #4e95f4;
  width: 10%;
  text-align: center;
}

thead {
  font-weight: bold;
  cursor: pointer;
  background-image: linear-gradient(90deg, #8dc7fa 3%, #9dcef8 7%, #d5f5f6 25%, #d5f5f6 55%, #ace16b 85%, #91d73a 90%);
  opacity: 0.8;
}

tr:nth-child(even) {
  background-color: #9dcef8;
}

.stockPriceDataTbl {
  margin-left: auto;
  margin-right: auto;
}

.positivePerf {
  color: #228B22;
  font-weight: bold;
}

.negativePerf {
  color: #FF0000;
  font-weight: bold;
}
