// Table stylings
// As we have less number of cloumns and engough space to display without applying the below styles also the web page is looking good. so keeping the below only for reference and discussion purpose.
// .gptScanPriceData {
//   overflow: auto;
//   display: flex; // when we have more columns the default block value would consider a wide space, instead if we use flex its automatically establishes a flexible container and fits all the columns.
//   align-items: stretch; // Aligns the flex container's items when the items do not use all available space. Default: stretch.
//   white-space: nowrap; // nowrap auto adjust the text with multiple lined to a single line. Specifies how white-space inside an element is handled. Default: normal.
//   margin-right: -10rem; // Move the table to the left by 10rem.
// }

.gptScanPriceData table td, th {
  padding: 0rem;
  // border-style: ridge; // The ridge style simulates a three-dimensional appearance, making the border look as if it is raised from the page.It creates an effect where one side of the border appears lighter, while the opposite side appears darker, giving a sense of depth. Default: none.
  border-width: 0.1rem;
  border-color: #4e95f4;
  width: 11%;
  text-align: center;
}

thead {
  font-weight: bold;
  cursor: pointer;
  background-image: linear-gradient(90deg, #8dc7fa 3%, #9dcef8 7%, #d5f5f6 25%, #d5f5f6 55%, #ace16b 85%, #91d73a 90%);
  opacity: 0.8;
}

tr:nth-child(even) {
  background-color: #9dcef8;
}

.stockPriceDataTbl {
  margin-top: 0.5rem;
}

.positivePerf {
  color: #228B22;
  font-weight: bold;
}

.negativePerf {
  color: #FF0000;
  font-weight: bold;
}

.ActiveSortTableHeader {
  background-color: #FFAE42;
  font-size: 1.7rem;
}

#getNewsBtn {
  border-radius: 0.2rem;
  padding: 0.05rem 0.05rem 0.05rem 0.05rem;
}

#summarizeNewsBtn {
  border-radius: 0.2rem;
}

#newsSummary {
  background-color: rgb(247, 247, 132);
  font-style: italic;
}

#futureOrGrowth {
  background-color: #ffffe0;
  font-style: italic;
}

.spinnerContainer {
  position: fixed; // It stays in a fixed position even as when we scroll
  // The top and left combination centers the container on any screen sizes
  top: 50%;
  left: 50%;
  z-index: 1; // Ensures that the overlay is on top of the background
}

.PositiveSentiment {
  color: #228B22;
}

.NeutralSentiment{
  color: #FFAE42;
}

.NegativeSentiment {
  color: #FF0000;
}

// Common for all the tooltips
.tooltipGeneral {
  position: relative;
  cursor: help;
}

.tooltipGeneral .tooltipText {
  padding: 0.3rem;
  font-size: 0.6rem;
  font-weight: bold;
  display: none;
  background: rgb(210, 252, 176);
  border: 0.05rem solid rgb(19, 7, 177);
  color: rgb(6, 8, 153);
  text-align: left;
  border-radius: 1rem;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -9rem;
  white-space: pre;
  opacity: 0.87;
}

.tooltipGeneral:hover .tooltipText {
  display: inline-block;
}

#earningsDateDialog {
  font-weight: bold;
  vertical-align: middle;
  width: 32rem;
  white-space: pre;
  background-color: #FFA500;
  border: .1rem solid #FF5F1F;
  border-radius: 0.5rem;
  margin: auto;
  padding: 1rem;
}
