<h1 id="tableLabel">OpenAI ChatGPT SCAN</h1>
LLMs are text completion engines. Trained on large corpus of documents. They predict the 'likely' next word by imagining a transcript of a chat between User and Assistant.<br>
They can be used for predicting the likely summarizing text.
LLM-ModelName:
<select name="model" id="model-select" [(ngModel)]="_selectedLlmModel">
  <option value="auto">auto</option>
  <option value="gpt-3.5-turbo">gpt-3.5-turbo(4K)</option>
  <option value="gpt-4">gpt-4(8K)</option>
</select>
<br><br>
Type your ticker list here and click to send it to C# backend.
<br>Get Price Info on tickers:
<span class="selectionDropDown">
  <input class="highlightInputDropDown" #tickers list="tickersDataLst" name="tickers" [(ngModel)]="_selectedTickers" placeholder="select the ticker"/>
  <span class="listDropDown" id="tickersDataLst">
    <option class="optionDropDown" *ngFor="let tickers of _possibleTickers" name="tickers" [value]="tickers" (click)="sendUserInputToBackEnd(tickers)">{{tickers}}</option>
  </span>
</span>
<br>
<div class="gptScanPriceData">
  <table class="stockPriceDataTbl">
    <thead class="stockPriceDataTbl">
      <tr>
        <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='Ticker'}" (click)="onSortingClicked('Ticker')">Ticker</th>
        <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='PriorClose'}" (click)="onSortingClicked('PriorClose')">PriorClose</th>
        <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='LastPrice'}" (click)="onSortingClicked('LastPrice')">LastPrice</th>
        <th [ngClass]="{'ActiveSortTableHeader':sortColumn ==='PercentChange'}" (click)="onSortingClicked('PercentChange')">Chg%Today</th>
        <th>News</th>
      </tr>
    </thead>
    <tbody class="stockPriceDataTbl">
      <tr *ngFor="let item of _stockPrices">
        <td><a href="https://finance.yahoo.com/quote/{{item.Ticker}}" target="_blank">{{item.Ticker}}</a></td>
        <td>{{item.PriorClose | number:'1.2-2'}}</td>
        <td>{{item.LastPrice | number:'1.2-2'}}</td>
        <td [ngClass]="{
              'positivePerf' : item.PercentChange > 0,
              'negativePerf' : item.PercentChange < 0
           }">{{item.PercentChange | number:'1.2-2'}}%</td>
           <td><button id="getNewsBtn" (click)="onClickGetNews(item.Ticker)">GetNews</button></td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Ticker News -->
<div *ngIf="_tickerNews.length > 0; else noData">
  <div *ngFor="let ticker of _tickerNews">
    <h2>{{ ticker.Ticker }}</h2>
    <ul>
      <li *ngFor="let item of ticker.NewsItems; let i = index">
        <strong>{{ i + 1 }}. {{ item.Title }}</strong><br>
        <span>{{ item.Description }}</span><br>
        <a href="{{ item.Link }}" target="_blank">Read more...</a>&nbsp;&nbsp;
        <small>Published on: {{ item.PubDate }}</small>&nbsp;
        <button id="summarizeNewsBtn" (click)="getNewsAndSummarize(item)">Download Full news and summarize</button>
        <div id="newsSummary" *ngIf="item.NewsSummary != null">GPT-summary: {{item.NewsSummary}}</div>
      </li>
    </ul>
  </div>
</div>
<ng-template #noData>
  <p>No news items. Click the GetNews button.</p>
</ng-template>
