<h1 id="tableLabel">OpenAI ChatGPT SCAN</h1>
LLMs are text completion engines. Trained on large corpus of documents. They predict the 'likely' next word by imagining a transcript of a chat between User and Assistant.<br>
They can be used for predicting the likely summarizing text.
LLM-ModelName:
<select name="model" id="model-select" [(ngModel)]="_selectedLlmModel">
  <option value="auto">auto</option>
  <option value="gpt-3.5-turbo">gpt-3.5-turbo(4K)</option>
  <option value="gpt-4">gpt-4(8K)</option>
</select>
<br><br>
Type your ticker list here and click to send it to C# backend.
<br>Get Price Info on tickers:
<span class="selectionDropDown">
  <input class="highlightInputDropDown" #tickers list="tickersDataLst" name="tickers" [(ngModel)]="_selectedTickers" placeholder="select the ticker"/>
  <span class="listDropDown" id="tickersDataLst">
    <option class="optionDropDown" *ngFor="let tickers of _possibleTickers" name="tickers" [value]="tickers" (click)="sendUserInputToBackEnd(tickers)">{{tickers}}</option>
  </span>
</span>

<div class="gptScanPriceData">
  <table class="stockPriceDataTbl">
    <thead class="stockPriceDataTbl">
      <tr>
        <th>Ticker</th>
        <th>PriorClose</th>
        <th>LastPrice</th>
        <th>Chg%<br>Today</th>
      </tr>
    </thead>
    <tbody class="stockPriceDataTbl">
      <tr *ngFor="let item of _stockPrices">
        <td><a href="https://finance.yahoo.com/quote/{{item.Ticker}}" target="_blank">{{item.Ticker}}</a></td>
        <td>{{item.PriorClose | number:'1.2-2'}}</td>
        <td>{{item.LastPrice | number:'1.2-2'}}</td>
        <td [ngClass]="{
              'positivePerf' : item.PercentChange > 0,
              'negativePerf' : item.PercentChange < 0
           }">{{item.PercentChange | number:'1.2-2'}}</td>
      </tr>
    </tbody>
  </table>
</div>

