LlmPrompt works
<h3>Demo: Just Displaying the PromptCategories</h3>
<div>
    <table class="tableCommon">
        <thead>
            <tr>
                <th>Category</th>
                <th>PromptName</th>
                <th>Prompt</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of m_llmPrompts">
                <td>{{item.Category}}</td>
                <td>{{item.PromptName}}</td>
                <td>{{item.Prompt}}</td>
            </tr>
        </tbody>
    </table>
</div>