<table>
    <thead>
        <tr>
            <td><strong><a href="https://docs.google.com/spreadsheets/d/1wOY4OeoLbaYSfutiSc0elv26SVwLtBXqXnaNZ4YtggU" target="_blank">Category</a></strong></td>
            <td><strong>Name</strong></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><!-- Category Dropdown -->
                <span class="selectionDropDown">
                <input class="highlightInputDropDown" type="text" [value]="m_selectedPromptCategory">
                <span class="listDropDown">
                    <option class="optionDropDown" *ngFor="let category of m_promptCategories" (click)="onClickPromptCategory(category)">{{category}}</option>
                </span>
                </span>
            </td>
            <td><!-- PromptName Dropdown -->
                <span class="selectionDropDown">
                <input class="highlightInputDropDown" type="text" [value]="m_selectedPromptName">
                <span class="listDropDown">
                    <option class="optionDropDown" *ngFor="let promptName of m_selectedCategoryPromptNames" [value]="promptName" (click)="onClickPromptName(promptName)">{{promptName}}</option>
                </span>
                </span>
            </td>
            <td><strong>Tickers:</strong></td>
            <td>
                <input [disabled]="!m_isUpdatePrompt" #tickersInput type="text" [value]="m_tickersStr" (input)="tickersInput.value = tickersInput.value.toUpperCase()" (blur)="onBlurTickerList($event)">&nbsp; <!-- the blur event gets fired when the focus is lost-->
                <button [disabled]="!m_isUpdatePrompt" (click)="updatePromptWithTickers()">updatePromptWithTickers</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><strong>KeyStats:</strong></td>
            <td>
                <input [disabled]="!m_isUpdatePrompt" #keyStatsInput type="text" [value]="m_keyStatsStr" (input)="keyStatsInput.value = keyStatsInput.value.toUpperCase()" (blur)="onBlurKeyStats($event)">&nbsp; <!-- the blur event gets fired when the focus is lost-->
                <button [disabled]="!m_isUpdatePrompt" (click)="updatePromptWithKeyStats()">updatePromptWithKeyStats</button>
            </td>
        </tr>
    </tbody>
</table><br>
<!-- Prompt -->
<div *ngIf="m_prompt">
  <strong>Prompt:</strong><br>
  <textarea id="promptText">{{m_prompt}}</textarea>
</div>