.selectionDropDown {
  display: inline-block;
}

.listDropDown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 11.8rem;
}

.listDropDown option {
  color: black;
  padding: 0.25rem 0.25rem;
  display: block;
}

.listDropDown option:hover {
  background-color: #ddd;
}

.selectionDropDown:hover .listDropDown {
  display: block;
}

.selectionDropDown:hover .highlightInputDropDown {
  background-color: rgba(255, 255, 128, .5);
}

.optionDropDown {
  border: 0.1rem solid lightblue;
  cursor: pointer;
}
