# EditorConfig is awesome: https://EditorConfig.org

# Leave EditorConfig as an example how a sub-project can contain different editorConfig settings than the other projects in the Workspace
# EditorConfig is needed, because Omnisharp.json settings are not nestable. And Omnisharp supports EditorConfig officially. And EditorConfig is nestable. (subfolders can overwrite root folder settings)

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

[*.{html,css,scss,ts,js}]
indent_size = 2


# Temporarily disable code analysis for the bulk of the files. How?
# Option 1: Emulate that it is generated code for All (*), files or *.cs files. (Compiler (dotnet build) CS warnings remains)
# treating all *.cs or all (*) files as generated code disables codecheck totally under this folder.
# [*.cs]
# generated_code = true

# [DashboardClient_quickfNews2.cs]
# generated_code = true

# # Option 2: These disable Omnisharp warnings, but StyleCop warnings remain, because these are a separate category  (Compiler (dotnet build) CS warnings remains)
# dotnet_analyzer_diagnostic.severity = none
# dotnet_analyzer_diagnostic.category-performance.severity = none
# dotnet_analyzer_diagnostic.category-Style.severity = none
# dotnet_analyzer_diagnostic.category-CodeQuality.severity = none

# # Option 3: Disable Warning codes one by one for all files in the project. You can disable specific Compiler (dotnet build) CS warnings as well
# dotnet_diagnostic.IDE0059.severity = none
# dotnet_diagnostic.SA1025.severity = none
# dotnet_diagnostic.CS0219.severity = none

dotnet_diagnostic.CS8669.severity = none  # TODO: This is cryptic. Investigate later: "The annotation for nullable reference types should only be used in code within a '#nullable' annotations context."
# reason: https://stackoverflow.com/questions/55492214/the-annotation-for-nullable-reference-types-should-only-be-used-in-code-within-a  
# "Roslyn apparently always ignores the project-level <Nullable>enable</Nullable> setting for generated code.". " => "have #nullable enable added to them explicitly"