/* You can add global styles to this file, and also import other style files */
html { // this is the Shadow DOM root of the big main App component. The :hosts in the sub-components can overwrite this, but this still applies to them as default.
  font-family: GeorgiaTimesNewRomanForLiningNumbers, "Times New Roman", Times, serif; // see TestFontsVerticalCentering.html
  font-size: 115%;
  line-height: 1.1;
  background: linear-gradient(to right, #3080c7 5%, #5b9dd7 10%, #d5f5f6 30%, #d5f5f6 70%, #ace16b 90%, #91d73a 95%);
}
