html * {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
body {
  text-align: center;
}

h1 {
  text-align: center;
  color: blue;
  font-size: 150%;
}

#titleCont {
  color: mediumblue;
  font-size: 110%;
  text-align: center;
}

.marginCommon {
  margin: 0.5rem;
}

.pv {
  font-weight: bold;
  color: royalblue;
}

.stci{
  font-weight: bold;
  color: blue;
}

table.currData {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0;
  font-size: 0.8rem;
  border-collapse: collapse;
  border: 0.05rem solid black;
  text-align: center
}

.currData td {
  width: 5%;
  /*text-align: left;*/
  border: 0.05rem solid black;
}

.center {
  text-align: center;
  border:0;
  font-size: 0.8rem;
}
.centerMatrix {
  margin: auto;
  width: 25%;
  text-align: center;
  border: 0;
  font-size: 0.8rem;
}
table.currData2 {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0;
  font-size: 0.8rem;
  border-collapse: collapse;
  border: 0.05rem solid black;
  text-align: center
}

.commonHeadings {
  font-size: 1rem;
  color: blue;
}

.currData2 td {
  width: 5%;
  text-align: center;
  border: 0.05rem solid black;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;

}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 25rem;
  max-width: 30rem;
  font-size: 0.8rem;
  background-color: dodgerblue;
  color: gainsboro;
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 0.6rem;
  position: absolute;
  z-index: 1;
  top: -0.5rem;
  left: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

#tooltipChart {
  display: none;
  position: absolute;
  background-color: lightgray;
  min-width: 2rem;
  max-width: 10rem;
  font-size: 1.2rem;
  background-color: dodgerblue;
  color: gainsboro;
  text-align: center;
  opacity: 0.92;
  padding: 0.5rem 0;
  border-radius: 0.6rem;
}

#idRules {
  margin-top: 1.5rem;
  text-align: left;
  font-size: 1rem;
}

.chartsContainer {
  box-sizing: border-box;
  width: 52rem;
  height: 32rem;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem auto 1rem 22rem;
  border: 0.1rem solid #ddd;
  /*background: #0094ff;*/
  font-size: 1rem;
  background: #F4F6F6; /* For browsers that do not support gradients */
  background: linear-gradient(90deg, #D6EAF8, #D1F2EB); /* Standard syntax */
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
}

.grid path {
  border: 0.05rem solid black;
}