body {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
  color: blue;
  font-size: 1.5rem;
}

#idTitleCont {
  color: mediumblue;
  font-size: 1.1rem;
}

#idWarningCont {
  color: red;
  font-size: 1rem;
}

.marginCommon {
  margin: 0.5rem;
  font-size: 1rem;
}

.center {
  text-align: center;
  border:0;
  font-size: 1.1rem;
}

.centerMatrix {
  margin: auto;
  width: 25%;
  text-align: center;
  border: 0;
  font-size: 1.1rem;
}

.button {
  display: inline-block;
  border: none;
  border-radius: 1.2rem;
  cursor: pointer;
  height: 6rem;
  width: 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  outline: none;
}
.button:hover {
  box-shadow: 0 1.2rem 1.6rem 0 rgba(0, 0, 0, 0.24),
    0 1.7rem 5rem 0 rgba(0, 0, 0, 0.19);
}

.button:active {
  transform: translateY(0.4rem);
}

table.currData {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0;
  font-size: 0.8rem;
  border-collapse: collapse;
  border: 0.05rem solid black;
  text-align: center
}

.currData td {
  width: 5%;
  border: 0.05rem solid black;
}

table.currData2 {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0;
  font-size: 0.8rem;
  border-collapse: collapse;
  border: 0.05rem solid black;
  text-align: center
}

.currData2 td {
  width: 5%;
  text-align: center;
  border: 0.05rem solid black;
}

#gameChanger {
  background: url("../assets/images/game_changer.webp");
  background-size: cover;
}

#globalAssets {
  background: url("../assets/images/global_assets.webp");
  background-size: cover;
}

#alphaPicks {
  background: url("../assets/images/alpha_pic.webp");
  background-size: contain;
}

.chartsContainer {
  box-sizing: border-box;
  width: 52rem;
  height: 32rem;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem auto 1rem 22rem;
  border: 0.1rem solid #ddd;
  font-size: 1rem;
  background: #F4F6F6; /* For browsers that do not support gradients */
  background: linear-gradient(90deg, #D6EAF8, #D1F2EB); /* Standard syntax */
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
}

.grid path {
  border: 0.05rem solid black;
}

.pctChgLabel {
  font-size: 0.8rem;
  text-anchor: middle;
}

#tooltipChart {
  display: none;
  position: absolute;
  min-width: 2rem;
  max-width: 10rem;
  font-size: 0.8rem;
  background-color: #F4F6F6;
  text-align: center;
  opacity: 0.92;
  padding: 0.5rem 0;
  border: 0.05rem solid orange;
  border-radius: 0.6rem;
}