<div class="mainDiv1">
  <h4>Technical Analyzer</h4>
  <div>Tickers:<input type="text" [value]="m_tickersStr" (input)="onInputTickers($event)"></div><br>
  <table>
    <thead>
      <tr>
        <th></th>
        <th *ngFor="let asset of m_histDatas[0].Assets">{{ asset.symbol }}</th> <!-- Displaying the symbol property of each asset object. -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of m_histDatas">
        <td>{{ item.Date }}</td>
        <td *ngFor="let asset of item.Assets" [title]="'pctChn1: ' + (asset.pctChnValue1 | percent:'1.2') + ', pctChn2: ' + (asset.pctChnValue2 | percent:'1.2') + ', pctChn3: ' + (asset.pctChnValue3 | percent:'1.2') + ', pctChn4: ' + (asset.pctChnValue4 | percent:'1.2')">{{ asset.pctChnValueAggregate | percent:'1.2' }}</td>
      </tr>
    </tbody>
  </table>
</div>