<div class="mainDiv1">
  <h4>Technical Analyzer</h4>
  <div>Tickers:<input type="text" [value]="m_tickersStr" (change)="onInputTickers($event)"></div><br>
  <table>
    <thead>
      <tr>
        <th></th>
        <th *ngFor="let asset of m_histDatas[0].Assets">{{ asset.symbol }}</th> <!-- Displaying the symbol property of each asset object. -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of m_histDatas">
        <td>{{ item.Date | date : 'yyyy-MM-dd'}}</td>
        <td *ngFor="let asset of item.Assets" [title]="'pctChn1: ' + (asset.pctChnSignal1 | percent:'1.2') + ', pctChn2: ' + (asset.pctChnSignal2 | percent:'1.2') + ', pctChn3: ' + (asset.pctChnSignal3 | percent:'1.2') + ', pctChn4: ' + (asset.pctChnSignal4 | percent:'1.2')">{{ asset.pctChnWeightAggregate | percent:'1.2' }}</td>
      </tr>
    </tbody>
  </table>
</div>